[2018-03-14 16:44] TomSoderling opened #1 "Go to implementation"
http://docs.mfractor.com/code-actions/csharp/#go-to-implementation

I'm not sure if I'm seeing this option in VS for Mac to use this feature. I'll attach a screenshot. All I see is Navigate > Implementing Members, but it doesn't do anything.
Do I need to configure it  somehow?

I work in a large solution, so being able to navigate right to the implementation of an interface that lives in the same

[2018-03-15 02:36] matthewrdev commented on #1
Hi Tom,

The **Implementing Members** is not an MFractor code action. The Go To Implementation shortcut is accessed through the **Option** + **D** keyboard binding.

[2018-03-15 21:48] TomSoderling commented on #1
Oh, I see. So it's not in the context menu at all.
Looks like I had something bound to Option + D already. Now it's working! Very nice.

BTW, I noticed that the MFractor keybindings conflict with several standard VS key bindings - the most important being ⌘ + D, Go To Definition

[2018-03-15 22:06] matthewrdev commented on #1
Yes, it's not ideal that we conflict with other key bindings like ⌘ + D and Option + Return. We are a bit stuck here as Visual Studio Mac doesn't have appropriate extensibility in place for us to modify the behaviour of these key-bindings without adding our own implementation on top of the existing key bindings.

In a perfect world, we wouldn't need to do this. Unfortunately, it's just the way tha

[2018-03-20 10:27] yurkinh opened #2 "Generate a method named "MethodName" in code behind class not working"
Hi
When I'm adding new event in Xaml  (Clicked for ex.) it offers to generate Code behind method (mfractor actions). After selecting offered option it does nothing.
And for some reason it duplicates option
![imagecut](https://user-images.githubusercontent.com/17849938/37649722-58e92ae2-2c3b-11e8-95e0-9f1ce0342f49.png)

[2018-03-21 18:29] matthewrdev commented on #2
Thanks for the bug report, Yuriy. I'll look into it.

[2018-03-30 14:06] yurkinh commented on #2
Fixed in v.3.04.15. Thanks

[2018-03-30 14:06] #2 closed

[2018-04-10 15:54] jimbobbennett opened #3 "Image wizard doesn't work with F# projects"
To reproduce - create a blank Xamarin.Forms app using F#. Try to import an image.

__Expected:__
I should be able to select the target projects and import the image to them.

__Actual:__
The F# iOS and Android apps are not in the target projects list.

<img width="723" alt="2018-04-10_16-54-20" src="https://user-images.githubusercontent.com/1710385/38568160-dd6a1e7a-3cdf-11e8-90ec-4661463a9a55.png

[2018-04-10 22:04] matthewrdev commented on #3
Thanks for reporting this Jim.

This is a tricky issue as MFractor uses the Roslyn project model to deduce which projects are available for importing. Because of this, F# is unfortunately unsupported as it has no Roslyn representation.

I’ll investigate how I can decouple the image wizard from roslyn and instead use the IDEs project model.

[2018-04-10 22:06] jimbobbennett commented on #3
I imagined it might be tricky - just though it was worth reporting as I was not 100% sure on what the F# support story is. In future would you want me to report any issues around F#? Not code, obviously - but XAML in F# projects?

[2018-04-10 22:15] matthewrdev commented on #3
Hmm, the product will fall down when F# is the backing language when MFractors XAML editor is used. In this case I may need to stop MFractors XAML editor from loading when the projects language is f#.

Report the issues to me and I’ll investigate, good to have a record of them.

[2018-04-10 22:27] matthewrdev commented on #1
@TomSoderling Is this issue fixed for you? If so, please feel free to close it :)

[2018-04-19 22:57] matthewrdev opened #4 "Regression: MFractor Configurations included in nuget packages are no longer detected."
In both SDK style projects and normal projects, when an MFractor configuration file, `.mfc.xml` is included in the `./build/` folder of that nuget package, it is no longer applied to the projects MFractor settings.

[2018-04-19 22:57] matthewrdev opened #5 "Add an "Add Watch" item to the right-click context menu."
As a C# developer, I would like to right-click on a symbol (variable, argument, field etc) and be able to add it to the debugger watch window.

[2018-04-19 23:12] matthewrdev opened #6 "Global search capabilities for AutomationIDs defined in XAML"
**Description**
As a Xamarin.Forms developer using XAML, I'd like to be able to quickly locate an automation id that has been declared in XAML.

**Expected Behaviour**

 * Press `Command` + `.` to focus the global search bar.
 * Start typeing in the name of an automation ID.
 * MFractor would locate automation IDs that match either fully or partially and suggest them.
 * Upon hovering over a selec

[2018-04-20 06:32] matthewrdev commented on #5
The **Add Watch** menu item should appear above the expression evaluator menu item.

[2018-04-20 19:51] matthewrdev opened #7 "As a developer, I want to be able to clear the nuget packages for a project or solution"
**Description**
When working with a C# project, a developer should be able to right-click on a project or solution in the solution explorer and clear the nuget packages for that item.

The clear command should be the equivalent to the following command:

[code]

![nuget-command](https://user-images.githubusercontent.com/3260473/39070779-fde8c764-4527-11e8-96b9-80e77c5b1242.png)

[2018-04-20 20:13] matthewrdev commented on #4
Currently awaiting a response from the VS Mac team on how to do this/

[2018-04-20 20:57] matthewrdev commented on #5
This actually seems pretty easy to do. Should be in next service release (3.5.1)

[2018-04-21 06:06] matthewrdev commented on #3
Hi @jimbobbennett,

I've done a bit more investigation into this and for the moment this isn't feasible as it'll take a huge re-engineering effort. I'm going to close this issue however I'll use it as a reference point in future when I get to adding F# support for the image wizard.

[2018-04-21 06:06] #3 closed

[2018-04-21 06:08] matthewrdev opened #8 "Add support for SVG importing into the Image Wizard"
**Description**
As a Xamarin developer, I'd like be able to import SVG files and generate pngs for each platform project.

This can be accomplished using https://github.com/dlemstra/Magick.NET

**Desired Behaviour**
- Open the image wizard.
- Select your svg.
- MFractor automatically selects the maximum densities for each platform.
- As it’s an SVG, the image wizard will *force* you to enter a max

[2018-04-21 06:17] matthewrdev opened #9 "Add support for iOS image asset catalogs into the image manager."
# Description
As a Xamarin developer, I'd like to import images using the image wizard and select *Image Catalogs* as an output option for iOS projects.

When the user clicks the **Generate** button, the image wizard should generate an assets json file, generate the downsized images foreach image density and then place the images inside the asset catalog.

More information on asset catalogs can be

[2018-04-23 02:53] matthewrdev commented on #5
Released in v3.5.3

http://addins.monodevelop.com/Stable/Mac/7.4.3/MFractor.VS.Mac.MFractor-3.05.02.mpack

[2018-04-23 02:53] #5 closed

[2018-04-23 02:53] matthewrdev commented on #6
Released in v3.5.2

http://addins.monodevelop.com/Stable/Mac/7.4.3/MFractor.VS.Mac.MFractor-3.05.02.mpack

[2018-04-23 02:53] #6 closed

[2018-04-23 05:02] dansiegel opened #10 "Enhanced Binding Intellisense"
# Description

There are certain edge cases where the BindingContext does not match the ViewModel of the View/Page. An example of this is when working with a DataTemplate in a ListView, the BindingContext for the cell is the model object from the ItemSource, and not the ViewModel. In this case a normal binding does not work, and the intellisense does not work.

## Sample

[code]

In this sample th

[2018-04-23 05:13] matthewrdev commented on #10
Thanks for the request @dansiegel.

I'm thinking that a code fix would be the best solution for this.

As MFractor already discovers and analyses bindings, I can extend the binding expression analyser and have it try to resolve the command on the page-level binding context. If it finds a match, it'd suggest a code fix that transforms the binding expression in example one into the expression in exa

[2018-04-23 07:13] matthewrdev commented on #4
Fixed in v3.5.3.

[2018-04-23 07:13] #4 closed

[2018-04-23 07:14] matthewrdev commented on #4
http://addins.monodevelop.com/Stable/Mac/7.4.3/MFractor.VS.Mac.MFractor-3.05.03.mpack

[2018-04-26 06:12] matthewrdev opened #11 "XAML Markup Extension IntelliSense"
## Description
As a XAML developer I'd like to have full XAML markup expression IntelliSense when editing XAML expressions within attribute values.

For example, when I am editing a binding expression, MFractor should suggest each individual component of the binding such as Path, Converter, Mode etc.

Currently MFractor will suggest and complete the full binding expression when an attribute value

[2018-04-30 04:26] matthewrdev opened #12 "Enhanced go-to declaration support"
More details to be added.

[2018-04-30 04:27] matthewrdev opened #13 "Enhanced XAML tooltips"
More detail to be added.

[2018-04-30 17:53] wickedw commented on #5
Great addition.

Some minor suggestions -

When performing add watch on say -

error.Code

if "add watch" when within error portion of expression, then add watch for "error"
if "add watch" when within .Code portion of expression, then add watch for "error.Code" (walk backwards entire expression)

Also, when adding a watch it would be great if the watch window auto-selected / focused to show your n

[2018-05-01 00:43] matthewrdev commented on #5
Thanks for the feedback Matt.

I'll look into what it will take to make this possible and then I'll make the appropriate changes. Will let you know when the behaviour is done.

[2018-05-04 06:17] matthewrdev commented on #11
Progress:

![image](https://user-images.githubusercontent.com/3260473/39614897-895b344c-4fb6-11e8-8f05-d6b1d9f3d929.png)

[2018-05-04 06:17] matthewrdev commented on #11
![xaml-expression-completions](https://user-images.githubusercontent.com/3260473/39614916-a8659918-4fb6-11e8-857f-92280b017033.gif)

[2018-05-06 22:53] matthewrdev opened #14 "Additional Improvements to XAML IntelliSense"
## Description
MFractor's XAML IntelliSense needs to be updated so that it again reaches parity with VS Mac default XAML editor.

## Improvements

### Modifiers for VisualElements
 [ ] x:DataType Support
 [ ] x:FieldModifier Support

[2018-05-30 19:01] dansiegel opened #15 "Introduce XLIFF Support for Localization"
# Description

Currently the Localization support provides an ability to import/export an excel spreadsheet. The issue is that this is ultimately opinionated and error prone as I could send off an excel spreadsheet to someone who could make some crazy change in excel that wouldn't work well for importing changes. A better and more cross platform friendly implementation would be to adopt the XLIFF

[2018-06-05 01:53] Osmosis311 opened #16 "IntelliSense on VS4Mac XAML Editor Not Showing Any Entries"
![image](https://user-images.githubusercontent.com/360240/40950665-b3554852-6841-11e8-852d-72a6fcaee6bb.png)

[2018-06-13 22:09] orestesgaolin commented on #16
Had the same problem on VS4Mac Beta (Preview)
Downgraded to stable channel and unfortunately had to reinstall VS4Mac.
Now everything works properly.

[2018-06-13 22:14] orestesgaolin opened #17 "Add ability to remove imported images from projects"
I'd like to be able to remove imported images by e.g. selecting image from the list in _Image Wizard_ as well as the projects to be removed from.

[2018-06-13 22:33] orestesgaolin commented on #9
I would love to see this feature.

[2018-06-18 07:59] jimbobbennett opened #18 "Weekly tips don't work with dark mode"
As the title really, the weekly tips dialog box is unreadable with dark mode, and the tips themselves look weird as light on a dark dialog.

Also - how do you turn them off?

[2018-06-18 23:58] dansiegel opened #19 "Solution/Project level Code Formatting"
Intellisense generally gives us the ability to sort or sort & remove usings, and the IDE gives us the ability to format on save. It would be fantastic though if MFractor could add the ability at the Project and Solution Level to:

1. Sort usings in our C# classes
1. Sort and Remove unused usings in our C# classes
1. Fix the code formatting i.e. mixture of tabs/spaces, curly braces improperly appli

[2018-06-20 15:39] EpicJoker93 opened #20 "Import Image Wizard not opening on latest visual studio for mac update. v7.5.3 (Build 7)"
After updating to latest visual studio for mac, mfractor import image wizard when clicked doesnt open the wizard. It just does nothing.

on Visual Studio for Mac 2017 v7.5.3 (build 7).

Thanks!

[2018-06-26 14:30] jfversluis commented on #20
Yep, seeing that happen here as well (together with a colleague)

[2018-06-26 14:31] sthewissen commented on #20
Same here, nothing opening anymore.

[2018-06-26 14:32] jfversluis commented on #18
It can be turned off in **Visual Studio** > Preferences > MFractor > uncheck "Show product tips", only available with a professional license.

[2018-06-26 14:49] jfversluis opened #21 "About screen button has a typo"
Button has a typo, detais instead of details

![image](https://user-images.githubusercontent.com/939291/41920325-c653b198-7960-11e8-8062-75d302d06b6c.png)

[2018-06-27 09:11] jfversluis commented on #20
As a workaround for now, you could get an older version from here and install that manually: http://addins.monodevelop.com/Project/Index/300

[2018-06-28 06:40] jfversluis commented on #20
3.05.17 which is downloadable now, fixes the problem 🎉

[2018-06-28 09:16] EpicJoker93 commented on #20
Saw that this morning! xD

Thanks gentleman.

[2018-06-29 19:06] tcoxMonkeyCoder opened #22 "Find All Resource Usages Doesn't Work"
In a Xamarin.Android app right clicking an id definition in a layout file and choosing "Find All Resource Usages" doesn't do anything.

[2018-06-29 22:05] #22 closed

[2018-07-11 07:39] orestesgaolin opened #23 "Don't allow using forbidden characters while importing images"
Some characters are not allowed in file names e.g. `-` on Android.

Please do one of the following:
- sanitize names before importing or
- prompt user that the name is invalid

![image](https://user-images.githubusercontent.com/16854239/42557166-06506a46-84ee-11e8-8717-0a7435d86b15.png)

[2018-07-11 07:41] orestesgaolin commented on #23
Wow, it seems that it's been implemented already
![image](https://user-images.githubusercontent.com/16854239/42557302-6dace03e-84ee-11e8-90be-35c15bc51b6e.png)
There's even a cleanup tool
![image](https://user-images.githubusercontent.com/16854239/42557339-884604ac-84ee-11e8-8751-cdea0d818040.png)

Thanks for such a great tool!

[2018-07-11 07:41] #23 closed

[2018-07-27 20:38] orestesgaolin opened #24 "XAML intellisense doesn't work (3.05.18 @ VS 7.5.4.3)"
# Problem

While using XAML editor I don't get any reasonable autocomplete/intellisense. Please see attached gifs for reference.

![screencast 2018-07-27 22-30-12](https://user-images.githubusercontent.com/16854239/43345201-d745c668-91ec-11e8-9a26-09f0c7bd6d31.gif)
![screencast 2018-07-27 22-29-24](https://user-images.githubusercontent.com/16854239/43345208-d9171db6-91ec-11e8-9b76-a3db6063c533.gif

[2018-07-27 20:39] orestesgaolin commented on #21
Also, it's 2018 now :D

[2018-07-28 12:54] orestesgaolin commented on #24
I realized that XAML works for some solutions while not for the other. Here is a sample solution that breaks the XAML intellisense https://github.com/orestesgaolin/PlaygroundApp/tree/d367d2b046de9e0ec069c138116f9d1a88adb597

[2018-08-29 14:16] wenyonk opened #25 "'ToAbstractVirtualNonVirtualConversionCodeRefactoringProvider' encountered an error"
'ToAbstractVirtualNonVirtualConversionCodeRefactoringProvider' encountered an error and has been disabled.

Stack trace:
  at Gtk.Widget.gtk_widget_set_parent (System.IntPtr , System.IntPtr ) [0x00000] in <13dfc6c534074eb08a8f382a81e605d5>:0
  at Gtk.Widget.set_Parent (Gtk.Widget value) [0x00022] in /Users/builder/jenkins/workspace/build-package-osx-mono/2018-02/external/bockbuild/builds/gtk-sharp

[2018-09-04 19:52] blombas opened #26 "Cant see Replace with a localised value lookup."
I have a problem with localization and mfractor. For some reason I don't see Replace with a localised value lookup. when i right click. I have bought a pro license and I am using Prism Quickstart with Mfractor.Config. Under tools i can see mfractor tools is grayed out.

[2018-09-08 11:03] mikehachen opened #27 "Generate localization infrastructure"
Hi there

Generating localization infrastructure does not work correctly. After starting the process via context menu mfractor creates a new folder called i18n, adds interface ILocalise and class TranslateExtension. In both platform projects (iOS and Android) there is a class created called Localise. This class implements the ILocalise interface. After adding those classes I get an empty error win

[2018-09-08 17:41] mikehachen opened #28 "Function "Replace with a localised value lookup" doesn't work"
Hi there

After fixing classes (see #27 ) I can build the whole project. But the localizing feature does not work. When I right click on a string in a xaml file select Refactor --> Replace with a localised value lookup nothing happens. When I press cmd + Enter I can see the MFractor context menu. When selecting Replace with a localised value lookup nothing happens and I get an message shown in the

[2018-09-10 11:57] mikehachen commented on #28
This issue is resolved with the latest version of MFractor.

Thank you Matthew!

[2018-09-10 11:57] #28 closed

[2018-09-17 21:59] KirillOsenkov opened #29 "ERROR: MacMenu: 'MFractor.ClearNugetPackagesCommand' maps to null command"
From the logs of VSMac 7.6.5.20:

[code]

Unfortunately I don't have any more information than this, just saw this randomly when reading a customer's log.

[2018-09-20 23:03] #7 closed

[2018-09-20 23:03] #8 closed

[2018-09-20 23:03] #9 closed

[2018-09-20 23:03] #10 closed

[2018-09-20 23:03] #11 closed

[2018-09-20 23:03] #12 closed

[2018-09-20 23:03] #13 closed

[2018-09-20 23:03] #14 closed

[2018-09-20 23:04] matthewrdev commented on #21
Ha! Thanks for spotting this Gerald. Onto fixing it for the next build.

[2018-09-20 23:05] matthewrdev commented on #17
This is a fantastic suggestion; I had this exact thought the other day. We'll looking into getting this into our 3.7 release (we'll be focusing on image tools in 3.7).

[2018-09-20 23:06] matthewrdev commented on #18
@jimbobbennett To help me out (in triage and bug fixing mode today), can you include a screenshot of dark mode?

[2018-09-20 23:08] matthewrdev commented on #15
Hi Dan, completely agree. Ideally, we'd like to able to import and export from a variety of sources, XLIFF being our preferred approach.

I don't have a timeframe on supporting this but yes, we do plan on doing this.

[2018-09-20 23:13] matthewrdev commented on #27
Hi Mike, thanks for reporting this.

We naively updated our code templates from the Xamarin Forms best practices page without properly testing the code. This is the problem with making assumptions...

Looking into fixing this now.

[2018-09-20 23:15] matthewrdev commented on #24
Hi @orestesgaolin, could you please re-test this with v3.5.21?

We have worked through and fixed multiple bugs in our XAML editor, this should hopefullly address your issues.

[2018-09-21 00:21] matthewrdev commented on #29
Thanks for reporting this @KirillOsenkov. I'll look into this.

[2018-09-21 00:24] matthewrdev commented on #26
Hi @blombas, thanks for reporting this issue.

What version of both Visual Studio Mac and MFractor are you running?

Please go to the **About Visual Studio** menu item in the top navigation bar, click **Show Details** and then click **Copy Information**. This will copy the version information into your clipboard. Please paste that into this ticket.

Next, could you please upgrade both Visual Studi

[2018-09-21 00:48] matthewrdev commented on #21
This will be fixed in MFractor v3.6 .

[2018-09-21 00:51] matthewrdev commented on #16
Hi @Osmosis311, @orestesgaolin

Is this still affecting you in Visual Studio Mac 7.6.6 and MFractor 3.5.21? Please try in these versions and let me know. We worked to fix a lot of XAML IntelliSense bugs in our latest releases, they **should** address this issue.

[2018-09-21 02:35] matthewrdev commented on #20
Hey @EpicJoker93, can I confirm that this is fixed?

[2018-09-21 08:58] EpicJoker93 commented on #20
@matthewrdev this is fixed.

[2018-09-22 23:29] matthewrdev commented on #20
🎉

[2018-09-22 23:29] #20 closed

[2018-09-26 01:34] matthewrdev commented on #21
Fixed and published in v3.5.22.

[2018-09-26 01:34] #21 closed

[2018-09-26 01:35] matthewrdev commented on #17
This feature is confirmed for MFractor v3.7.

[2018-09-26 01:36] matthewrdev commented on #16
Hi Danny, based on our conversations via email I'm going to mark this issue as fixed.

Please re-open or file a new bug if this happens again.

[2018-09-26 01:36] #16 closed

[2018-09-26 01:47] matthewrdev commented on #18
Fixed, shipping in 3.6.

[2018-09-27 19:44] orestesgaolin commented on #24
Thanks @matthewrdev. The issue is no longer present thus we can consider it fixed and closed :) Also all the main tooltips and refactorings seem to work fine 👍

[2018-09-27 19:44] #24 closed

[2018-09-29 23:08] matthewrdev commented on #18
<img width="1112" alt="screen shot 2018-09-30 at 9 07 53 am" src="https://user-images.githubusercontent.com/3260473/46251222-61cd9d80-c490-11e8-9231-71a826baf6dd.png">

[2018-09-29 23:08] #18 closed

[2018-09-30 23:53] matthewrdev commented on #27
We've fixed our localisation code templates and are looking into the empty dialog thats showing now.

[2018-09-30 23:54] matthewrdev commented on #26
@blombas I'm going to close this as it's working as expected in the latest version of MFractor (v3.2.22). If this issue is still persisting, please re-open this ticket.

[2018-09-30 23:54] #26 closed

[2018-10-03 04:30] matthewrdev commented on #29
This has been fixed and will be released in MFractor v3.6.

[2018-10-03 04:30] #29 closed

[2018-10-21 10:18] matthewrdev commented on #17
@orestesgaolin This feature is now available in MFractor v3.6.2

[2018-10-21 10:18] #17 closed

[2018-11-15 08:13] MBrekhof opened #30 "Source property of resourcedictionary"
I'm having an issue with the 'Source' property of a resourcedictionary. The program runs ok, however Mfractor displays an error.

![image](https://user-images.githubusercontent.com/13586354/48539151-9ff31500-e8b6-11e8-9304-0587d415c6c0.png)

[2018-11-15 22:20] MBrekhof commented on #30
Additional information: I copied the xaml to the root of my project and entered this in the App.xaml, it works OK, the error displayed by MFractor stays the same. Note the '/' in the source name.
![image](https://user-images.githubusercontent.com/13586354/48585431-ee42fb00-e92c-11e8-9458-26760b85b5f5.png)

[2018-11-19 12:19] matthewrdev opened #31 "MFractor Does Not Detect Images outside of the Resources folders"
MFractors image IntelliSense and missing image analysis does not detect images that are not within the Android Resources/mipmap|drawable folders and the iOS Resources/ folder.

Below is a customer example.

<img width="538" alt="screen shot 2018-11-01 at 21 04 48" src="https://user-images.githubusercontent.com/3260473/48706779-44cd6500-ebcb-11e8-9a2e-19c51167fbc4.png">

[2018-11-19 12:25] matthewrdev opened #32 "MFractor does not detect static resources from base classes."
When MFractor suggests the static resources available for a document, it doesn't consider the base class of the current page. The StaticResourceResolver needs to locate the base class for a file and then get all the resources also within that file.

Example Parent File:
![screen shot 2018-10-09 at 2 10 25 pm](https://user-images.githubusercontent.com/3260473/48707063-3f244f00-ebcc-11e8-824b-e6db30

[2018-11-19 13:19] matthewrdev opened #33 "Add IntelliSense support for x:DataType"
As outlined in (DataBinding Power Moves You May Not Be Using Yet](https://blog.xamarin.com/databinding-power-moves-you-may-not-be-using-yet/), MFractor needs to support the usage of x:DataType.

This should be added as an IntelliSense attribute suggestion to all elements that have the property BindingContext.

When editing an x:DataType attribute value, MFractor should suggest all available types

[2018-11-20 15:20] Oxoproline opened #34 "Xaml intelisense broken"
With the latest visual studio(7.6.11) and mfractor(3.6.3) xaml intelisense is broken.
Once I disable mfractor intelisense, VS intelisense is working.

[2018-11-20 16:52] matthewrdev commented on #34
Hi @Oxoproline, thanks for reporting the issue.

Could you please attach the IDE log files to this issue?

To get the log files, go to **Help** then **Open Log Directory**.

[2018-11-20 18:49] matthewrdev commented on #34
Thanks @Oxoproline.

Do you have XAMLator installed also? If so, can you please disable this extension and re-enable MFractor's IntelliSense.

Also, I can see a strange error where MFractor is attempting to initialise itself twice. If you have just upgraded to the latest MFractor, also try restarting the IDE if you have not done so already.

[2018-11-20 19:03] Oxoproline commented on #34
It was clean new installation on new macbook, so it was latest version. But now when I uninstalled mfractor and installed again, intellisense is working. I guess issue can be closed, because I am probably not able to explain and reporduce what happened.

[2018-11-20 21:06] matthewrdev commented on #34
Ok, thanks. 👍

[2018-11-20 21:06] #34 closed

[2018-11-23 12:00] matthewrdev commented on #33
This has been completed and will be in the next release of MFractor. Waiting until release to close this issue.

[2018-11-23 12:45] matthewrdev commented on #32
This has been implemented and will be available in the next MFractor release. Waiting until next release to close this issue.

[2018-11-23 13:03] matthewrdev commented on #30
@MBrekhof This has been fixed and will be available in the next MFractor release. I will confirm and close this issue when we have published it.

[2018-11-23 13:41] matthewrdev commented on #33
Released in 3.6.4,

[2018-11-23 13:41] #33 closed

[2018-11-23 13:41] matthewrdev commented on #30
Released in 3.6.4.

[2018-11-23 13:41] #30 closed

[2018-11-23 13:41] matthewrdev commented on #32
Released in 3.6.4.

[2018-11-23 13:41] #32 closed

[2018-11-24 14:33] matthewrdev opened #35 "When using a Setter element inside a Trigger or Style, MFractor should validate that the property exists using the parent TargetType property."
[code]
In the above example, `TextValue` is not a property on `Label` and a code issue informing the user should be added.

[2018-11-24 14:37] matthewrdev opened #36 "When an event handler is assigned an empty string, MFractor should add a compilation error warning."

[2018-11-24 14:42] matthewrdev opened #37 "IntelliSense shorthand completions for Grid.Row, Grid.Column, Grid.RowSpan and Grid.ColumnSpan"
When editing a XAML element that is within a `Xamarin.Forms.Grid`, MFractor should additionally suggest shorthand completions for the available Rows, Columns and spans in the parent grid.

Example grid:

[code]

For example, MFractor would add the following intellisense suggestions:

 - Grid.Row="0"
 - Grid.Row="1"
 - Grid.RowSpan="1"
 - Grid.RowSpan="2"

 - Grid.Column="0"
 - Grid.Column="1"
 - G

[2018-11-24 14:45] matthewrdev opened #38 "The Select Image Asset window needs to be re-built and re-added into IntelliSense"
When we removed Xamarin.Forms user interfaces from MFractor, the select image asset window was also deleted.

The window needs to be rebuilt and readded into XAML intellisense when the XAML attribute being edited is a `Xamarin.Forms.ImageSource`.

[2018-11-26 04:38] matthewrdev opened #39 "When data-binding against a non-public property, MFractor should provide a compilation warning that the data-binding may not take effect."

[2018-11-26 06:08] matthewrdev opened #40 "When using a Trigger, validate that the TargetType property matches the outer XAML elements type."

[2018-11-26 21:50] matthewrdev opened #41 "When using a XAML element that derives from Xamarin.Forms.TriggerBase, validate that the element has the TargetType attribute."

[2018-11-26 23:50] matthewrdev commented on #41
Completed and will be available in next MFractor release, v3.6.5.

[2018-11-26 23:50] #41 closed

[2018-11-26 23:50] matthewrdev commented on #40
Completed and will be available in next MFractor release, v3.6.5.

[2018-11-26 23:50] #40 closed

[2018-11-27 02:58] matthewrdev opened #42 "Inspect the BasedOn property for a style and validate that the target type on the parent is compatible with the childs target type."

[2018-11-27 03:30] matthewrdev opened #43 "For Settings in Styles or Triggers, detect duplicate property assignments."

[2018-11-27 11:29] matthewrdev opened #44 "Analyse the path provided to the Source property for a resource dictionary and validate that the file or symbol exists."

[2018-11-27 11:29] matthewrdev opened #45 "When a static resource expression returns two or more resources of the same name, provide an ambigous lookup warning."

[2018-11-27 11:30] matthewrdev opened #46 "When the user defines a static resource with a key that is already define in a base class, reference resource dictionary or app.xaml resources, provide a warning."

[2018-11-27 11:31] matthewrdev opened #47 "For x:Type expressions, validate that the provided type is defined in the XAML document."

[2018-11-27 11:31] matthewrdev opened #48 "When editing the value of an x:TypeArguments attribute, suggest the available types in the document."

[2018-11-27 11:32] matthewrdev opened #49 "Add image tooling support for Xamarin.Mac."
This should include:

 * XAML image analysis
 * Image importing support for the image wizard.
 * XAML IntelliSense support for image suggestions.

[2018-11-27 20:49] matthewrdev commented on #42
Completed and will be available in next MFractor release, v3.6.6.

[2018-11-27 20:49] #42 closed

[2018-11-27 20:49] matthewrdev commented on #43
Completed and will be available in next MFractor release, v3.6.6.

[2018-11-27 20:49] #43 closed

[2018-11-28 00:40] matthewrdev opened #50 "Code action to extract a resource dictionary into a standalone resource dictionary."
Similar to the extract XAML control code action, a user should be able to right-click on a XAML resource dictionary definition and extract it and it's contents into it's own XAML with code behind.

[2018-11-28 01:06] matthewrdev opened #51 "Add IntelliSense support for x:FieldModifier."

[2018-11-28 01:08] matthewrdev commented on #51
Completed and will be available in 3.6.6.

[2018-11-28 01:08] #51 closed

[2018-11-28 01:09] matthewrdev commented on #48
Completed and will be available in 3.6.6.

[2018-11-28 01:09] #48 closed

[2018-11-28 01:54] matthewrdev commented on #45
Completed and will be available in 3.6.6.

[2018-11-28 01:54] #45 closed

[2018-11-28 02:18] matthewrdev commented on #39
Completed and will be available in v3.6.6.

[2018-11-28 02:18] #39 closed

[2018-11-28 02:35] matthewrdev commented on #36
Completed and will be available in v3.6.6.

[2018-11-28 02:35] #36 closed

[2018-11-28 02:36] matthewrdev commented on #50
Requires refactoring of the interface generation dialog (which has inputs for class name, namespace and folder selection) in order to be effective. Will also migrate the extract xaml control to use the refactored interface dialog.

[2018-11-28 02:37] matthewrdev commented on #49
Should be fairly straightforward, change __IOS__ checks to also include __MAC__

[2018-11-28 03:04] matthewrdev commented on #46
Completed and will be available in v3.6.6.

[2018-11-28 03:04] #46 closed

[2018-11-28 06:09] matthewrdev commented on #50
Completed and will be available in 3.6.6.

[2018-11-28 06:09] #50 closed

[2018-11-28 06:20] #44 closed

[2018-11-28 06:21] #47 closed

[2018-11-28 06:21] matthewrdev commented on #47
Removing from backlog as x:Type isn't highly used.

[2018-11-28 20:50] matthewrdev opened #52 "The onboarding and tutorial window seems to have disappeared."
Sometime after we removed Xamarin.Forms UIs from the product, we lost our tutorial window.

It needs to be either rebuilt and/or re-enabled.

[2018-11-28 20:52] matthewrdev opened #53 "C# code action to "push" a method declaration onto a parent interface that a class implements."
**Before**
[code]

**After**
[code]

[2018-11-28 20:54] matthewrdev opened #54 "XAML Code action to extract a style from a XAML element"

[2018-11-28 20:56] matthewrdev opened #55 "XAML Style editor"
MFractor needs to add a visual XAML style editor so that users can right-click on a XAML style definition and visually edit the style.

[2018-11-28 20:57] matthewrdev opened #56 "C# Code Refactoring to align the namespace of a file to its project folder path"

[2018-11-28 23:18] matthewrdev opened #57 "When MFractor inserts a XAML attribute that already has a value, it inserts a duplicate ="" that is annoying."
![intellisense-bug](https://user-images.githubusercontent.com/3260473/49188755-05b7c480-f3c0-11e8-82bc-79eaeb7c76ec.gif)

[2018-11-28 23:18] matthewrdev opened #58 "When MFractor inserts x:* properties, it doesn't automatically insert the="" element as per user preferences./"

[2018-11-28 23:29] matthewrdev opened #59 "C# Code action to add the DesignTimeBindingContext attribute to a C# visual element declaration."
Adds:
[code]

* Introduces any necessary usings.
* Generates the DesignTimeBindingContext attribute code file if it can't be resolved.

[2018-11-28 23:32] matthewrdev opened #60 "MVVM code actions should work when the user defines the binding context using the DesignTimeBindingContext attribute"
To accomplish this we need to add a DesignTimeBindingContext table to the resources database engine for Xamarin.Forms projets.

The MVVM resolver needs to then first inspect this table and then fall back to the intelligent resolution.

[2018-11-28 23:33] matthewrdev opened #61 "XAML Code action to add the DesignTimeBindingContext attribute to the code behind class."
For behaviour, see https://github.com/mfractor/mfractor-feedback/issues/59

[2018-11-28 23:35] matthewrdev opened #62 "XAML analyser that inspects XAML visual elements and matches them to existing styles, informing the user when they could use an existing style."

[2018-11-28 23:43] matthewrdev opened #63 "Shorthand completion for StackLayout Orientation Vertical and Horizontal"
When editing a stacklayout, users should be able to simply type Horizontal or Vertical to and it would create Orientation="Horizontal" or  Orientation="Vertical".

This significantly speeds up development.

[2018-11-28 23:44] matthewrdev opened #64 "Code analysis preferences panel that allows users to enable or disable code analysers."
Users should be able to browse all available XAML etc analysers and turn them off or on.

This should be a new settings panel within the Preferences section of the IDE.

[2018-11-28 23:46] matthewrdev opened #65 "Users should be able to enable or disable shorthand style code completions."
Add the following option to MFractors Settings panel:

 * Suggest Shorthand Code Completions [X]

[2018-11-29 00:02] matthewrdev opened #66 "When the user adds a new Grid XAML element, it should also insert defaults for Grid.RowDefinitions and Grid.ColumnDefinitions"

[2018-11-29 00:04] matthewrdev opened #67 "When the user adds a Image XAML element, automatically insert the `Source=""` attribute."

[2018-11-29 00:16] matthewrdev opened #68 "Shorthand style completions should be converted to a Professional only feature."
Why?

They are insanely useful and push users to upgrade.

[2018-11-29 03:48] matthewrdev opened #69 "Add support for Material Shell in XAML Intellisense and code analysis."

[2018-11-29 03:54] matthewrdev opened #70 "When using the interface generator, MFractor inserts only a "set" for a property that has both a getter/setter."

[2018-11-29 03:55] matthewrdev opened #71 "C# Code Action: User should be able to implement an interface member in all of it's implementations from the interface member declaration."

[2018-11-29 04:00] #68 closed

[2018-11-29 05:09] matthewrdev commented on #63
Completed and will be available in 3.6.7

[2018-11-29 05:09] #63 closed

[2018-11-29 05:09] matthewrdev commented on #65
Completed and will be available in 3.6.7

[2018-11-29 05:09] #65 closed

[2018-11-29 20:49] MBrekhof commented on #33
x:Datatype is indeed recognized and a popup windows opens. However the options in the popup do not make sense to me. I would have expected something based on the ViewModel/BindingContext and now it looks more like a list of all keywords available in Xamarin Forms.

[2018-11-29 20:50] matthewrdev opened #72 "MFractor for Windows: Integrate XAML code analysis."
Requires the following services:

 * [ ] IWorkspaceService
 * [ ] IProjectService
 * [ ] INugetPackageService
 * [ ] IUserOptions

Requires the following context factories:

 * [ ]  XamlFeatureContextFactory
 * [ ]  CSharpFeatureContextFactory

[2018-11-29 21:00] matthewrdev commented on #69
Refer to the material shell spec:
https://github.com/xamarin/Xamarin.Forms/issues/2415

[2018-11-29 21:04] matthewrdev opened #73 "C# Code action to add parameters to a method signature."
**Before:**

[code]

**After**
[code]

[2018-11-29 21:11] matthewrdev commented on #33
@MBrekhof From my understanding, the x:DataType keyword is used to specify a binding context type based on the available types in the XAML file.

The behaviour implemented by MFractor is consistent with the default XAML Intellisense behaviour:

**Default IntelliSense**
<img width="969" alt="screen shot 2018-11-30 at 8 09 29 am" src="https://user-images.githubusercontent.com/3260473/49252204-7c63c9

[2018-11-30 06:48] #66 closed

[2018-11-30 06:48] #67 closed

[2018-11-30 06:48] matthewrdev commented on #58
Completed and will be available in 3.6.7

[2018-11-30 06:49] #58 closed

[2018-11-30 08:37] matthewrdev commented on #64
Completed and will be available in 3.6.7

[2018-11-30 08:37] #64 closed

[2018-11-30 12:30] MBrekhof commented on #33
![screen shot 2018-11-19 at 09 15 35](https://user-images.githubusercontent.com/13586354/49289454-1ccfe280-f4a4-11e8-8a90-5945b30f923b.png)

This is what I am seeing

[2018-11-30 12:43] MBrekhof opened #74 "EventTrigger warning/runtime error incorrect"
<img width="534" alt="screen shot 2018-11-30 at 13 41 15" src="https://user-images.githubusercontent.com/13586354/49289959-c663a380-f4a5-11e8-8a9e-22a1f0d125e5.png">

I think the message is incorrect or at least confusing (runtime error) for an eventtrigger

[2018-11-30 21:35] matthewrdev commented on #33
@MBrekhof, that looks to be the expected behaviour.

To gain Intellisense for the view models, add an ‘xmlns:viewModels=“using:MyApp.ViewModels”’ import to the root XAML elementals.

I’m having a play with this now and there are definitely some improvements like tooltips, code analysis and namespace autoimporting that can be added.

[2018-12-02 04:01] matthewrdev opened #75 "File Creation Wizard Spec"
See: https://github.com/mfractor/mfractor.code-templates

![file creation wizard](https://user-images.githubusercontent.com/3260473/49335543-11ff8400-f643-11e8-9159-f900162f3f1b.png)

[2018-12-02 04:07] matthewrdev commented on #54
![extract xaml style](https://user-images.githubusercontent.com/3260473/49335577-e8932800-f643-11e8-81c2-df738ff7a287.png)

[2018-12-02 04:17] matthewrdev commented on #74
@MBrekhof This check has been refined and now only inspects DataTriggers and MultiTriggers. Please upgrade 3.6.7.

[2018-12-03 08:50] #74 closed

[2018-12-03 08:51] MBrekhof commented on #74
works ok

[2018-12-03 21:59] matthewrdev commented on #38
![select image asset](https://user-images.githubusercontent.com/3260473/49404215-ed222280-f7a2-11e8-8adb-9d70dff8f0cf.png)

[2018-12-06 03:16] matthewrdev commented on #59
Closing this as, after user feedback, it's not a priority.

[2018-12-06 03:16] #59 closed

[2018-12-06 03:16] matthewrdev commented on #61
Closing this as, after user feedback, it's not a priority.

[2018-12-06 03:16] #61 closed

[2018-12-06 03:16] matthewrdev commented on #55
Closing/Archiving this. We will revist at a later date. We need to implement style analysis and the extract style tool first.

[2018-12-06 03:16] #55 closed

[2018-12-06 04:42] matthewrdev opened #76 "Integrate Prism templates into MFractor out of the box."
See: https://github.com/dansiegel/Mobile.BuildTools

[2018-12-06 13:37] MBrekhof opened #77 "Localisation Wizard has problems with &gt; in label.text"
`                  <Label Margin="10">
                        <Label.FormattedText>
                            <FormattedString>
                                <Span Text="&gt; MyAction"`
get a translation that looks like `<value>&amp;gt; MyAction </>`
the 'amp;' is not wanted as it changes the way the text is displayed ('> MyAction' should be the result, it becomes `'&gt; MyAction' `

[2018-12-07 01:56] matthewrdev opened #78 "Xaml Analysis: Detect when no key is provided to a static resource expression."

[2018-12-07 01:56] matthewrdev opened #79 "Xaml Analysis: Detect when no key is provided to a DynamicResource expression."

[2018-12-07 02:12] matthewrdev opened #80 "Dynamic Resource IntelliSense support"
We need to add support for DynamicResource IntelliSense by indexing known user assign dynamic resources with the resources database and document synchronisation engine.

We can do this by scanning for string literals that are assigned into either the Applications, a pages or views ResourceDictionary through the use of `Resources["someKey"] = "someValue"` or `Resources.Add("someKey", "someValue")`.

[2018-12-07 02:21] matthewrdev opened #81 "XAML Code action to add a transparency channel to a color declaration."

[2018-12-07 02:22] matthewrdev opened #82 "XAML Code action to convert a system color definition into a hex color definition and vice versa."

[2018-12-07 02:23] matthewrdev opened #83 "As a XAML developer, when I hover over a symbol that resolves to a color type, show me a summary of the different IntelliSense formats I can input."
This is similiar to the Thickness tooltips.

[2018-12-09 22:21] matthewrdev commented on #83
Completed and will be available in 3.6.9

[2018-12-09 22:21] #83 closed

[2018-12-09 23:12] matthewrdev commented on #81
![add-transparency](https://user-images.githubusercontent.com/3260473/49704194-0e33b900-fc64-11e8-873f-2e014ef72a7a.gif)

[2018-12-09 23:14] matthewrdev commented on #76
Users should be able to opt-out of this feature. Must also include a preferences option so that they can turn this feature off if they want.

[2018-12-09 23:20] matthewrdev commented on #79
Completed and will be available in v3.6.9.

[2018-12-09 23:20] #79 closed

[2018-12-09 23:20] matthewrdev commented on #78
Completed and will be available in v3.6.9.

[2018-12-09 23:20] #78 closed

[2018-12-11 01:04] matthewrdev commented on #69
* [ ] Suggest ShellItem
* [ ] Suggest ShellContent
* [ ] Suggest ShellSection
* [ ] Suggest DataTemplate in expression intellisense
* [ ] Suggest namespaces for DataTemplate in expression intellisense
* [ ] Suggest available controls
* [ ] For the `ContentTemplate` property, provide a short hand completion that provides all available content pages in the current document.
* [ ] For the inner eleme

[2018-12-14 01:15] matthewrdev opened #84 "IntelliSense support for CollectionView and CarouselView"
See: https://blog.xamarin.com/xamarin-forms-4-0-feature-preview-an-entirely-new-point-of-collectionview/?wt.mc_id=AID723299_QSG_SCL_305435&utm_source=t.co&utm_medium=referral

[2018-12-14 15:16] madrvojt opened #85 "Improve Absolute Layout XAML Intellisence"
Hello,

it will be possible update Intellisence for AbsoluteLayout.LayoutBounds and AbsoluteLayout.LayoutFlags?
(Yes, this problem Xamarin Forms IntelliSence, but mFractor fix this on another layouts and will be quicker then VS4mac team).

Screenshot there:

<img width="971" alt="screenshot1" src="https://user-images.githubusercontent.com/11706829/50011077-6992dd80-ffbb-11e8-841f-73e8211dc563.png"

[2018-12-15 05:36] matthewrdev commented on #85
@madrvojt I can add it for `AbsoluteLayout.LayoutFlags` however I'll need some more clarification on expected behaviour for `AbsoluteLayout.LayoutBounds`.

Do you want `X,Y,Width,Height` Intellisense? Would a tooltip describing the appropriate input format suffice for the moment?

[2018-12-17 08:44] matthewrdev commented on #38
Completed and will be available in MFractor v3.7

[2018-12-17 08:44] #38 closed

[2018-12-18 02:43] matthewrdev commented on #31
This has been indirectly completed as part of building the image manager toolsuite. There is now an ImageAssetHelper that can perform these resolutions.

Will be available in v3.7.

[2018-12-18 02:43] #31 closed

[2018-12-18 10:58] matthewrdev commented on #85
@madrvojt The next release of MFractor will include better tooltips for AbsoluteLayout.LayoutBounds, XAML intellisense for LayoutFlags and analysis for LayoutBounds based on the layout flags.

This should be released early January.

[2018-12-18 11:00] matthewrdev commented on #85
<img width="897" alt="screen shot 2018-12-18 at 9 58 21 pm" src="https://user-images.githubusercontent.com/3260473/50149794-3da38f00-0310-11e9-8d15-ec203763f92b.png">

[2018-12-18 11:00] matthewrdev commented on #85
<img width="687" alt="screen shot 2018-12-18 at 10 00 29 pm" src="https://user-images.githubusercontent.com/3260473/50149841-5b70f400-0310-11e9-9f2d-2baca5652907.png">

[2018-12-18 11:01] matthewrdev commented on #77
Thanks for reporting this @MBrekhof. I'm looking into this.

[2018-12-18 11:32] matthewrdev commented on #77
@MBrekhof This has been fixed and will be available in v3.7 of MFractor.

![localisation-bug-fix](https://user-images.githubusercontent.com/3260473/50151295-9ecd6180-0314-11e9-8b9c-0eebda250fb3.gif)

[2018-12-18 11:32] #77 closed

[2018-12-18 20:53] madrvojt commented on #85
Fantastic! Thanks! Looking forward to January :)

[2018-12-18 21:30] matthewrdev commented on #19
It looks like VS Mac has a service capable of doing this per document however not per-project or per-solution. Including this for future reference: https://github.com/mono/monodevelop/blob/305bddc1e9dcd90caf25f8bed1a042efc317528b/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeFormatting/CodeFormattingCommands.cs

[2018-12-18 21:37] matthewrdev opened #86 "Image tooling ideas"
See this thread: https://twitter.com/RobGibbens/status/1075141984053022721

Need to organise these into a feature list.

[2018-12-27 05:04] #86 closed

[2018-12-27 05:05] #60 closed

[2019-01-04 06:30] lewcianci opened #87 "MFractor has stopped providing feedback for my XAML"
Hey,

I have an issue where MFractor has stopped suggesting XAML imports and has also stopped giving useful suggestions (like replacing Image with CachedImage for instance).

When I remove MFractor and reinstall it, it picks up the license automatically from somewhere, which makes me think that the install is corrupt somehow...

How can I get it back to a working state?

EDIT: It's also stopped su

[2019-01-10 00:18] #69 closed

[2019-01-10 00:19] matthewrdev commented on #75
Closing for the moment as this has not been requested by a user and will suck development time from the Windows product.

[2019-01-10 00:20] matthewrdev commented on #73
This has not been requested by any customers, closing.

[2019-01-10 00:20] #73 closed

[2019-01-10 00:20] matthewrdev commented on #70
This has not been requested or reported by any customers, closing.

[2019-01-10 00:20] #70 closed

[2019-01-10 00:20] matthewrdev commented on #53
This has not been requested by any customers, closing.

[2019-01-10 00:20] #53 closed

[2019-01-10 00:21] #85 closed

[2019-01-10 00:47] matthewrdev opened #88 "To Triage"
- ~~Ability to optimise an image asset directly after I import it.~~
 - Ability to bulk import image assets (from a folder).
 - ~~Add automatic support for the Prism configuration (see https://github.com/dansiegel/Mobile.BuildTools/tree/master/Prism.MFractor.Config)~~
 - ~~Ability to optimise all image assets at once.~~
 - ~~Ability to convert a StackLayout to a Grid.~~
 - Ability to extract a Sty

[2019-01-10 00:48] matthewrdev commented on #27
I am no longer to reproduce this issue.

@mikehachen  If this issue persists, could you please re-open this ticket?

[2019-01-10 00:48] #27 closed

[2019-01-10 00:49] matthewrdev commented on #71
This feature has not been requested by customers, closing.

[2019-01-10 00:49] #71 closed

[2019-01-10 00:49] matthewrdev commented on #80
This feature has not been requested by any customers, closing.

[2019-01-10 00:49] #80 closed

[2019-01-11 05:36] matthewrdev commented on #76
This has been completed and will be available in MFractor 3.7.1.

[2019-01-11 05:36] #76 closed

[2019-01-15 02:52] matthewrdev commented on #82
Completed and will be available in MFractor 3.7.1.

[2019-01-15 02:52] #82 closed

[2019-01-16 21:02] matthewrdev opened #89 "Improve Visual Studio Macs localisation tooling"
- ResX Editor
 - ResX Manager (see https://marketplace.visualstudio.com/items?itemName=TomEnglert.ResXManager)
 - Export to Excel and XLIFF
 - Import from Excel and XLIFF
 - ~~For the localisation wizard, by default, insert the new key into all resx files.~~
 - Add support for google translation and azure translation services.

[2019-01-16 22:56] matthewrdev commented on #87
Hi @lewcianci,

Are you still experiencing this issue? If not, please feel free to close this ticket.

Thanks!

[2019-01-20 04:41] #87 closed

[2019-01-20 05:06] matthewrdev opened #90 "Grid Tooling Improvements"
* ~~Convert `StackLayout` to `Grid` code action.~~
 * Insert row and adjust rows + spans code action -> Should be invoked on a `<RowDefinition>` and allow the user to insert a row before or after the current `<RowDefinition>` .
 * Insert column and adjust columns + spans code action -> Should be invoked on a `<ColumnDefinition>` and allow the user to insert a column before or after the current `<C

[2019-01-21 07:52] MBrekhof opened #91 "Static resource erroneous warning"
Since 3.72 I get some warnings about static resources, looks a bit like #45. Problem is that the warning is wrong.
<img width="648" alt="screen shot 2019-01-21 at 08 48 37" src="https://user-images.githubusercontent.com/13586354/51459739-d4bd9580-1d59-11e9-9094-653c198414e1.png">

[2019-01-21 09:44] MBrekhof commented on #91
ok, no hurry

[2019-01-21 09:49] matthewrdev commented on #91
The exact code analyser that checks this is:
<img width="962" alt="screen shot 2019-01-21 at 8 49 02 pm" src="https://user-images.githubusercontent.com/3260473/51466352-154efa80-1dbe-11e9-845a-3b0689f91912.png">

[2019-01-21 20:12] matthewrdev opened #92 "Binding Expressions that use array index notation returns compilation error."
For example:

`Errors="{Binding Errors[Amount]}"`

Is marked as error MFractor does not understand array notation an array.

[2019-01-24 01:55] matthewrdev commented on #56
This has been implemented and will be available in MFractor 3.7.3.

[2019-01-24 01:56] matthewrdev commented on #56
![align-namespace](https://user-images.githubusercontent.com/3260473/51649176-6dad1480-1fd7-11e9-9284-1552e8e61fda.gif)

[2019-01-24 01:56] #56 closed

[2019-01-24 22:14] matthewrdev commented on #57
This has been fixed and will be available in 3.7.3.

[2019-01-24 22:14] #57 closed

[2019-01-27 20:34] matthewrdev commented on #84
Completed. Now available in v3.7.3 of MFractor for Visual Studio Mac.

[2019-01-27 20:34] #84 closed

[2019-01-27 21:00] matthewrdev opened #93 "Include IntelliSense support for AttachedProperties"
For example, MFractor should suggest the following attached property when it is available.

[code]

[2019-01-28 01:52] matthewrdev opened #94 "Migrate code generation actions to have preview dialogs."
Why? Give users the ability to preview all the code they will generate.

 * Generate effect.
 * Generate interface implementation.
 * Generate custom renderers
 * Extract control.
 * Generate custom control
 * Generate value converter

[2019-01-30 15:55] MBrekhof opened #95 "Generate view/viewmodel"
Almost perfect, using this setup:
<img width="387" alt="screenshot 2019-01-30 at 16 45 10" src="https://user-images.githubusercontent.com/13586354/51993492-43fc5d80-24af-11e9-83e2-5a418539cbe1.png">

the c# code generates ok, however the XAML is like this (and gives an error):
`<?xml version="1.0" encoding="UTF-8"?>
<MasterPage xmlns="http://xamarin.com/schemas/2014/forms"
  xmlns:x="http://schema

[2019-01-30 20:20] matthewrdev commented on #95
Hi @MBrekhof,

Thanks for reporting this. Funnily enough, I’ve just spent yesterday fixing this!

A fix will be available in the next release.

[2019-01-31 03:48] matthewrdev commented on #95
@MBrekhof This is now fixed and available in v3.7.5 of MFractor for Visual Studio Mac.

[2019-01-31 04:07] #88 closed

[2019-01-31 07:55] MBrekhof commented on #95
works as advertised 👍

[2019-01-31 07:55] #95 closed

[2019-01-31 07:59] MBrekhof commented on #91
problem seems to be solved

[2019-01-31 07:59] #91 closed

[2019-01-31 08:06] matthewrdev commented on #95
🙌 Keep the bug reports coming!

[2019-01-31 09:40] matthewrdev opened #96 "Implement font importer"
By using the font importer developers should be able to select a font on disk (ttf or otf) and import it into their Android and iOS projects.

For Android projects, it should be placed under Assets.
For iOS projects, it should be placed under Resources. Optinoally a plist entry for the font should be generated.

Developers should also be able to optionally create a XAML font family declaration lik

[2019-01-31 09:51] sthewissen commented on #96
Awesome! My suggestion (through my proxy @jfversluis) 🎉

[2019-02-01 02:52] matthewrdev commented on #96
Well underway but sometimes I really do fail at coding:
<img width="1357" alt="screen shot 2019-02-01 at 1 51 58 pm" src="https://user-images.githubusercontent.com/3260473/52099767-a462da80-2628-11e9-83c1-b3ad9206e84e.png">

[2019-02-01 10:55] sthewissen commented on #96
![image](https://user-images.githubusercontent.com/2419439/52119074-429a7480-2618-11e9-8c27-fe7496f03bef.png)

[2019-02-04 06:51] matthewrdev commented on #96
Almost finished!

<img width="968" alt="screen shot 2019-02-04 at 5 51 06 pm" src="https://user-images.githubusercontent.com/3260473/52193897-82c25700-28a5-11e9-9496-1627f55627f0.png">

[2019-02-05 01:06] matthewrdev commented on #96
A preview build is now available:
https://drive.google.com/open?id=1OWMaxJ-W_sf6sin1SB2mhLuPVl88ln8w

Please uninstall any existing MFractor installation before installing this.

**Important**
There is an issue with reliably retrieving the Postscript name of the font for iOS and so, sometimes, the generating XAML code won't work on iOS. I've tested the importer against approx 20 fonts and it works

[2019-02-05 09:37] jfversluis commented on #96
Amazing Matthew, thanks!

I'm guessing I already know the answer, but is there any way of telling whenever retrieval of the Postscript name doesn't work? Then at least you could warn the user to double check it.

[2019-02-05 10:23] matthewrdev commented on #96
Hey Gerald,

Unfortunately the postscript name lookup fails most times (😫). The current solution, prompting the user to click on that label, is the best one for the meantime.

I’ll continue investigating this though. Who knew getting the name of a font was so bloody tricky!

[2019-02-05 15:16] sthewissen commented on #96
Yeah finding that PostScript stuff is really hard. I tried to find a way to do that on Windows and that's a huge chore that I couldn't solve. Don't quite know why it's such a chore...

[2019-02-06 21:25] matthewrdev commented on #96
The font importer is now released and available in MFractor v3.7.6.

[2019-02-06 21:25] #96 closed

[2019-02-06 22:43] #75 closed

[2019-02-07 09:01] matthewrdev commented on #96
I've *finally* found a way to get the postscript name using some open source code. Next release (3.7.7) will include this fix.

[2019-02-07 09:25] jfversluis commented on #96
Of course, right after you finished it... Just out of curiosity, what did you find? Can you share it?

[2019-02-08 16:01] orestesgaolin opened #97 "Show color in tooltip when hovered above hex value"
I would be happy to see some kind of color tooltip when hovering above the hex value of the color in .xml and .axml files.

E.g. when I'm in Android XML file I can see some generic tooltips appearing when hovering on attribute values.

![image](https://user-images.githubusercontent.com/16854239/52489523-c62d0600-2bc2-11e9-8336-b57974da75a8.png)

Additional tooltips in case of C# color representati

[2019-02-08 16:03] orestesgaolin commented on #89
I would love to see some support for POEditor API (you can download .resx file from POEditor API: https://poeditor.com/docs/api#projects_export)

[2019-02-08 22:52] matthewrdev commented on #97
Yikes!

Yes I can definitely add this, MFractor already has a color tooltip window that can do this.

[2019-02-11 01:56] matthewrdev commented on #89
I never knew about POEditor!

Thanks for the suggestion @orestesgaolin, keep em coming :)

[2019-02-11 05:47] matthewrdev opened #98 "Add support for the XmlnsDefinition attribute"
MFractor needs to scan assemblies in the project domain and find declarations of the XmlnsDefinition attribute.

More information to be added.

[2019-02-12 12:14] MBrekhof opened #99 "Static resource definition problem"
I still have an issue with resources defined in a mergeddictionary:

<img width="823" alt="screenshot 2019-02-12 at 13 04 14" src="https://user-images.githubusercontent.com/13586354/52634644-04c70700-2ec8-11e9-8797-9a6cee239d27.png">

I created a sample project and attached it to this post
[resourcedict.zip](https://github.com/mfractor/mfractor-feedback/files/2855713/resourcedict.zip)

[2019-02-12 19:57] matthewrdev commented on #99
Thanks for reporting this issue and for including a repro case @MBrekhof. I'll look into this today.

[2019-02-13 05:53] matthewrdev commented on #99
This has been fixed and will be available in 3.7.8.

![image](https://user-images.githubusercontent.com/3260473/52689871-d7558880-2faf-11e9-90d9-d3aeed83bdef.png)

[2019-02-13 08:39] matthewrdev commented on #54
![image](https://user-images.githubusercontent.com/3260473/52698161-05929280-2fc7-11e9-990e-786eb5e008f1.png)

[2019-02-18 21:55] #99 closed

[2019-02-19 14:46] mrxten opened #100 "Buggy inserting namespaces via x:Static in XAML"
Shown in video, please check
[Screen Recording 2019-02-19 at 17.42.29.mov.zip](https://github.com/mfractor/mfractor-feedback/files/2880459/Screen.Recording.2019-02-19.at.17.42.29.mov.zip)

[2019-02-21 03:05] matthewrdev commented on #100
Hi @mrxten, thanks for reporting this issue.

I'll investigate the cause of the buggy x:Static completions and get back to you.

[2019-02-21 10:37] mrxten opened #101 "Go-To Xaml Symbol (cmd+D) incorrect work for nested markup attributes in XAML"
Shown in video, please check too.

For example I cannot go to converter inside binding
[Screen Recording 2019-02-21 at 13.34.18.mov.zip](https://github.com/mfractor/mfractor-feedback/files/2888877/Screen.Recording.2019-02-21.at.13.34.18.mov.zip)

[2019-02-22 02:49] lachlanwgordon opened #102 "Incorrect Build Action on generated ViewModels"
Hi Matt,
When I generate a View/ViewModel the ViewModel has the Build Action "None" when it should be "Compile". I found this when trying to add the view model as the binding context on the view.
See Screenshots below.

My settings for generating the view and the view model
![screen shot 2019-02-22 at 1 32 26 pm](https://user-images.githubusercontent.com/29908924/53216311-41ed7f00-36a8-11e9-9a47-6

[2019-02-22 04:27] matthewrdev commented on #102
Thanks for reporting this Lachlan. This has been fixed and will be available in the next release (3.7.9).

[2019-02-22 21:55] lachlanwgordon opened #103 "Automatically set ViewModel as BindingContext on generated View/ViewModel"
When generating a View/ViewModel it would be great if the ViewModel was already set as the binding context of the view.

There are various ways to set the binding context so it would probably need a few options or it will mess with people's coding styles. I'm mainly interested in option A but if you add that then people will probably want MVVM FrameWork and code behind support. Choosing which opti

[2019-02-22 23:02] lachlanwgordon opened #104 "Refactoring action to Extend Control With Renderer"
In the refactor options for any control there would be an option to "Extend Control With Renderer".

This would prompt for details similar to the "Extract XAML Control" but with additional fields to set the folder for the locations of renderers on each platform.

The Control will automatically extend the control that you right clicked on and have the appropriate namespaces
e.g.
![screen shot 2019-

[2019-02-25 06:57] matthewrdev commented on #102
Fixed and available in 3.7.9.

[2019-02-25 06:57] #102 closed

[2019-02-25 06:58] matthewrdev commented on #54
Completed and will be available in 3.7.10.

[2019-02-25 09:16] matthewrdev commented on #103
Thanks for reporting this Lachlan, I've also had other customers bring up this suggestion.

This will be included in the 3.7.10 release (which will also include a streamlined Mvvm Wizard UI design).

[2019-02-25 09:18] matthewrdev commented on #104
While we don't have this exact feature available (yet), we do have the [Generate Custom Renderers](http://docs.mfractor.com/code-actions/csharp/forms/#generate-custom-renderers)feature that you could use in the meantime.

To use, press `Option+Return` over a control declaration in C# and choose `Generate Custom Renderers`.

[2019-02-25 09:20] matthewrdev commented on #101
Thanks for reporting this @mrxten. This was originally by-design to save development time however you are absolutely correct that it's wrong.

I'll aim to include this in the 3.7.10 release.

[2019-02-25 09:20] matthewrdev commented on #94
Closing as this task is too vague.

[2019-02-25 09:20] #94 closed

[2019-02-25 09:24] lachlanwgordon commented on #104
Oh excellent. That’ll keep me happy.

[2019-02-25 10:10] lachlanwgordon commented on #103
Excellent, I look forward to it. Let me know if you need a tester or someone to bounce ideas off.

[2019-02-25 10:16] dansiegel commented on #103
This needs to factor in Prism where this would be a terrible idea... you can explicitly set the ViewModelLocator.AutowireViewModel to true if you want but it's not actually required.

[2019-02-26 00:22] matthewrdev opened #105 "Redesign and simplify the MVVM wizard."
After speaking to many customers about the MVVM wizard, the v1, while loved, is clunky, overcomplicated and difficult to use.

The main complaints:
 * Too many options.
 * Does not connect the binding context to the view.
 * User interface is too complicated.

Following from these feedback items, the MVVM wizard is being re-designed to simplify it. The wizard will become a single text entry for th

[2019-02-26 00:35] matthewrdev commented on #103
@dansiegel By default, this will be turned off. It will also be driven by Prisms framework configuration that's bundled into MFractor.

Say the user did want to use some kind of auto-wire up for Prism, what is the best way for us to support?

[2019-02-26 00:50] dansiegel commented on #103
depends slightly on whether it's Prism 7.2 or older... in 7.2 we have support for XF's XmlnsDefintionAttribute...

[code]

The older fully qualified version would be:

[code]

The only time it's actually required is when the Page is explicitly set as a child of a TabbedPage since anything handled by the NavigationService will automatically handle setting that property to true.

[2019-02-26 05:23] matthewrdev commented on #105
Completed and will be available in 3.7.10. Should be released by Friday 1st of March.

![image](https://user-images.githubusercontent.com/3260473/53389285-6e700680-39da-11e9-9e75-0795a1c4f643.png)

[2019-02-26 05:26] matthewrdev commented on #105
See: https://twitter.com/matthewrdev/status/1100264709456982018

[2019-02-26 09:59] lachlanwgordon commented on #105
Is that screen shot on the wrong issue?

[2019-02-26 10:08] lachlanwgordon commented on #105
Looks good, generating from xaml is especially cool from shell.

Does the preview on the left let you choose between previewing xaml and xaml.cs?

[2019-02-26 10:32] lachlanwgordon commented on #105
Will the settings be preserved so each time I create another View/ViewModel it does the same thing?

My standard scenario would be:
 - The first time I use the wizard I tell it to put my views in Views and ViewModels in ViewModels and that I would like them linked(when that feature is ready) and select a base class.
 - Each subsequent time I use it the settings are the same so I rarely have to ope

[2019-02-26 22:28] matthewrdev commented on #105
Yes, the settings are persisted for the project. They are saved when you hit "Save" in the settings dialog and restored each time you open the MVVM Wizard.

You can also choose between the XAML view and code behind when in the Wizard.

[2019-02-27 01:42] matthewrdev commented on #103
![image](https://user-images.githubusercontent.com/3260473/53459127-6076c000-3a84-11e9-8561-30b03d74aa36.png)

This is how the chooser will appear in the Projects MVVM settings. For v1 this will include option A and B as outlined by @lachlanwgordon .

[2019-02-27 01:44] matthewrdev commented on #103
@dansiegel Based on what you are describing, we do not need to add any kind of initialisation for Prism. Users will most likely need to manually hook it up based on particular use-cases. Is this correct?

[2019-02-27 01:51] matthewrdev commented on #105
Bumping this into the 3.7.10 release as it's a major UX upgrade and there are many other enhancements to the product we want to release. Should be out within the next 1-2 days.

[2019-02-27 02:30] #105 closed

[2019-02-27 02:31] matthewrdev commented on #54
Released in v3.7.10 of MFractor for Visual Studio Mac: http://addins.monodevelop.com/Stable/Mac/7.8.1/MFractor.VS.Mac.MFractor-3.7.10.mpack

[2019-02-27 02:31] #54 closed

[2019-02-27 11:12] matthewrdev commented on #103
Completed and available in 3.7.10. We support the Option A and Option B variants.

We've released two v3.7.10 build so if the binding context initialisation isn't available, uninstall and then re-install to get the latest build.

[2019-02-27 11:12] #103 closed

[2019-02-27 12:29] dansiegel commented on #103
@matthewrdev there would be two variants....

1) They want to explicitly opt-out of having the ViewModelLocator Autowire
2) They specifically need to opt-in due to the page being a hard coded child of a MultiPage<T>

[2019-02-27 18:41] SharpMobileCode opened #106 "Extension Not Available in Visual Studio 2019 Preview 2"
I downloaded Visual Studio for Mac 2019 Preview 2.  I went to add the MFractor extension, but it appears that MFractor is not included in the list.  However, it's still available from my Visual Studio 2017 for Mac install.  Sounds like some sort of compatibility issue?  Could this me made available for Visual Studio 2019 Preview 2?  XAML intellisense in VS2019 is still horrible so I would love to

[2019-02-27 21:11] matthewrdev commented on #106
Hi @SharpMobileCode.

We've been holding off publishing a build into for the 2019 Preview as there have been breaking API changes in each release.

That said, I'm getting this request more and more so we'll try to get a build up next week. I'll let you know when it's available.

[2019-02-28 21:11] matthewrdev commented on #103
Available in v3.7.10 of MFractor for Visual Studio for Mac.

![image](https://user-images.githubusercontent.com/3260473/53598746-9b4e3480-3bf9-11e9-8496-d9b69c3fbce4.png)

[2019-02-28 21:14] matthewrdev commented on #103
@dansiegel As I understand, we'd need to add two Prism variants like so:

1. Prism: Do Not Autowire Binding Context
[code]

2. Prism: Explicit Autowire Binding Context
[code]

Is this correct?

[2019-02-28 21:16] dansiegel commented on #103
You could account for the default:

3. Prism: Implicit Autowire Binding Context

[code]

but otherwise yes...

[2019-02-28 21:22] matthewrdev commented on #103
Thanks for the quick feedback! Option 3 (as outlined above) would be covered by the default `No Binding Context Initialisation`, however, it may be worth including an option for Prism.

So three options?

1. Prism: Do Not Autowire Binding Context
2. Prism: Explicit Autowire Binding Context
3. Prism: Implicit Autowire Binding Context

[2019-02-28 22:04] dansiegel commented on #103
I might word it Opt-Out instead of Do Not... but yes

[2019-02-28 22:46] matthewrdev commented on #72
Suspending as we are working on backend business systems first that are required for the development of MFractor for Windows.

[2019-02-28 22:46] #72 closed

[2019-03-05 00:28] matthewrdev commented on #106
MFractor is now available for Visual Studio for Mac 2019:

![image](https://user-images.githubusercontent.com/3260473/53772228-b8586f80-3f39-11e9-8728-6d48544c3cba.png)

To install, please open the **Extension Manager**, go to **Gallery** and click **Refresh**. MFractor (3.7.10) should appear under **IDE Extensions**.

[2019-03-05 00:28] #106 closed

[2019-03-17 20:53] madrvojt opened #107 "Settings for Format Document / Feedback"
It will be great if i have access to Format Document settings.

Examples for settings:
a)
If i used format document integrated in VS4Mac, i will have 4 whitespaces (before text).

http://prntscr.com/mz6rwn

When I used mFractor formatter , there is only 2 whitespaces. I want set this value to 4.

http://prntscr.com/mz6s58

b) Ability to set different formatting namespaces and rest of the page.

So

[2019-04-29 07:08] WouterStraver opened #108 "Generate View/Viewmodel in different projects"
It would be nice to use the mvvm wizard when using a separate project for my viewmodels. This is already possible with the navigation between pages/viewmodels

[2019-04-30 11:56] WouterStraver opened #109 "Generate resources localization in different projects"
It would be nice to be able to generate resx files in another project.

[2019-05-03 00:18] matthewrdev commented on #108
Thanks for the feedback Wouter. I have started implementing this now.

[2019-05-03 00:18] matthewrdev commented on #109
This is a great idea Wouter, I'll add this into the backlog for our next release.

[2019-05-03 05:08] matthewrdev commented on #108
This has been completed and will be available in MFractor 3.8.1.

![image](https://user-images.githubusercontent.com/3260473/57120500-3bb90480-6db5-11e9-9d6f-407f87162c0d.png)

[2019-05-03 12:38] WouterStraver commented on #108
Awesome work! Thanks a lot!

[2019-05-08 01:58] matthewrdev commented on #108
Completed and available in MFractor v3.8.1.

[2019-05-08 01:58] #108 closed

[2019-05-12 06:36] rotorgames opened #110 "StaticResource InteliSense doesn't work with PrismApplication"
I have App.xaml file with resources which inherits PrismApplication class in my project. I found that StaticResource tips don't work in XAML because of it.

[2019-05-31 04:26] matthewrdev commented on #107
@madrvojt Whitespace formatting options have been added as of MFractor v3.8.2. Please upgrade and head to *Preferences* -> *MFractor* -> *Formatting* to control MFractors whitespace settings.

[2019-05-31 04:26] #107 closed

[2019-06-11 12:00] lachlanwgordon opened #111 "UI Glitch when deleting images"
Today when I deleted an image by right click, delete image.jpg I got this strange dialog with no chrome around it.

![Screen Shot 2019-06-11 at 4 53 00 pm](https://user-images.githubusercontent.com/29908924/59269592-c5040680-8c92-11e9-9e4c-d3b935d57da8.png)

I clicked "no" because I didn't really know what the question was and it deleted the picture, which is what I wanted but not what I expected

[2019-06-11 23:22] matthewrdev commented on #111
The “would you like to use the deletion tool” is an MFractor workflow helper, however, it can definitely be improved. I’m pretty sure there is more text that should be displayed here to indicate it’s an MFractor action so will have to take a look into improving it.

Would some MFractor branding help here and/or more descriptive text?

[2019-06-11 23:25] matthewrdev commented on #111
Yes, the pop up should show this tool when you say “yes”. It detects when you delete two images of the same asset (eg the @2x and @3x) and then triggers.

As the detection happens after the fact, Choosing no here won’t show the tool and doesn’t affect any deletion events.

[2019-06-11 23:28] lachlanwgordon commented on #111
The cropped text and large blank button were what scared me in to clicking no, I'm having trouble recreating it now.

Should that popup happen every time or is it meant to be one time only?

[2019-06-12 00:04] matthewrdev commented on #111
Oh geez, I just had another look at that image and it’s one mangled dialog there.

I think it’s a one time thing but I’ll check the code. Was the nudge useful? Should I make it repeat each time it detects this workflow?

[2019-06-12 00:20] lachlanwgordon commented on #111
I'm still a little confused as to what it's meant to do because I've never seen it work properly.

Is that dialog meant to be a one time prompt to ask if you want to use the mFractor image deleting tool? If you say yes, from then on you will automatically get it every time you delete an image? If you say no you have to keep on deleting the different scalings manually like a pleb?

I'm happy to jus

[2019-06-12 00:41] matthewrdev commented on #111
“Like a pleb” 😂😂

It does indeed only prompt you once and then never runs again. Maybe the better behaviour is as you suggested. Detect that you are deleting the density variants of an image asset and then auto launch the deletion tool? Would that suffice?

[2019-06-12 00:44] lachlanwgordon commented on #111
Detecting sounds great. Would this be triggered regardless of whether I delete an image from the solution browser or the MFractor asset manager? That would be ideal.

[2019-06-12 01:43] matthewrdev commented on #111
Definitely from the solution pad and I’ll check if it’s possible to delete a single image from the image manager. To my knowledge (need to jog my memory here), I think the image manager only ever lets you delete images using the deletion tool.

Let me check.

[2019-06-12 01:44] matthewrdev commented on #111
Yep, you can only delete image assets in bulk in the image manager through the deletion tool. Might be worth considering exposing this for single densities as well 🤔

[2019-06-13 03:54] matthewrdev commented on #111
Hey @lachlanwgordon, this has been fixed and will be in the next release for VS Mac 8.1. Will let you know when I’ve published it and close this issue.

Thanks for the great feedback as always!

[2019-06-14 01:07] lachlanwgordon commented on #111
Sweet, thanks!

[2019-06-14 01:26] lachlanwgordon opened #112 "Feature Idea: Find Unused Image"
Hi,
I know you've got some big refactoring going on but when you get to it I'd love a way to identify all images that aren't used.

The preview feature "Search for usages" is great but I want to use it in bulk. It probably makes sense to get that feature finished before moving on to this.

I'm working on an app that has been through several developers and several designers. It's got about 50 image

[2019-06-14 02:01] matthewrdev commented on #112
This is amazing to hear as this feature is *literally* specced out and ready to build:

![image](https://user-images.githubusercontent.com/3260473/59478231-f26fd080-8e9b-11e9-9571-8e0507261975.png)

I've been building the internal APIs for the image searching feature set (find image usage, clean unused image, rename image) while I've been doing the refactoring work.

[2019-06-14 02:03] lachlanwgordon commented on #112
awesome sauce!

[2019-06-14 02:03] matthewrdev commented on #112
Want to have a call about this sometime Lachlan? Would love to get your input on the specs and to learn more about your image pain?

[2019-06-14 02:07] lachlanwgordon commented on #112
Would love to, I'll send you a twitter message to find a time.

[2019-06-17 06:03] matthewrdev commented on #111
Resolved in 3.8.6

[2019-06-17 06:03] #111 closed

[2019-06-17 06:03] #90 closed

[2019-06-17 07:33] delakti opened #113 "The following extensions could not be started"
Visual studio is complaining of **"The following extensions could not be started"** on opening.
![Screenshot 2019-06-17 at 08 34 44](https://user-images.githubusercontent.com/3205975/59586964-0c97f180-90dc-11e9-9730-4abdbf0d8c58.png)

It crashes the application during navigation or during use
Please advice

##Installation Information

[code]

[2019-06-17 07:40] lachlanwgordon commented on #113
I had this issue but got around it.

I think what i did was:
1. Open extension manager
2. Remove Mfractor
3. Install MFractor - This will install the latest version 3.8.6 but you've got 3.8.4 which doesn't work with VS Mac 8.1

[2019-06-17 07:44] lachlanwgordon opened #114 "Search for usages does nothing"
When I click "Search for usages" in the context menu in the asset manager nothing happens.

This feature was working well in 3.8.4 although with warning about it being a preview feature.
Feature was removed in 3.8.5.
The menu option came back in 3.8.6 doesn't work.

Running VSMac 8.1(272)

[2019-06-17 07:54] lachlanwgordon opened #115 "Release notes request"
Hi,
Fairly low priority but I'd really like it if the release notes were more informative than "New version available". It makes it easier to discover new features.

Sorry to be a pain, I dread writing release notes for anything other than major feature releases so I understand if you don't want to or if it doesn't work with your workflow/release system.

![Screen Shot 2019-06-17 at 4 04 29 pm](ht

[2019-06-17 08:51] matthewrdev commented on #115
Completely agree here.

I've chased up the VS Mac team about how to do this in the past but didn't get much of a response so it never got acted on.

Will tee this up for investigation.

[2019-06-18 04:42] matthewrdev commented on #115
Investigation notes... Could be driven by this:

https://github.com/mrward/monodevelop-nuget-addin/blob/08b2d57263f1b991253fe9001b97384d56d9d5f7/src/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.addin.xml#L12

[2019-06-18 11:38] lachlanwgordon opened #116 "Thoughts on Linker exclude workflow"
I love the "exclude from linking" quick fix. I think there are a couple of things to add to make it better. This could have been filed as separate issues but they probably make sense as an overhaul of the feature if addressed so I'm putting them together.

My first issue is that when you select "exclude from linking" the popup is itty bitty even though there's plenty of space.  This is fine in a c

[2019-06-19 06:04] MBrekhof commented on #95
As requested some logs.

[2019-06-20 04:23] matthewrdev commented on #116
![image](https://user-images.githubusercontent.com/3260473/59818299-a83c9280-9366-11e9-928a-115ae027d878.png)

Made a few adjustments to this. Bigger, saves preferences and includes branding.

[2019-06-20 06:33] matthewrdev commented on #116
Available in v3.8.7

[2019-06-20 06:33] #116 closed

[2019-06-20 06:34] matthewrdev commented on #114
Fixed and available in 3.8.7.

[2019-06-20 06:34] #114 closed

[2019-06-20 11:28] MBrekhof opened #117 "x:Name error"
Having several different styles with a VisualStateGroupList in app.xaml results in a error message that is not correct. See attached picture.
<img width="618" alt="Screenshot 2019-06-20 at 13 25 58" src="https://user-images.githubusercontent.com/13586354/59846126-517f8a80-935f-11e9-93ea-540f8d1cdf7f.png">

[2019-06-20 13:50] sthewissen opened #118 "Enhancement: Ability to trigger i18n dialog from the MFractor menu"
Is there a way to trigger the i18n dialog from the menu? Currently, it's only triggerable by right-clicking an untranslated text and hitting "Replace with RESX lookup" if I'm correct. However, I sometimes have files that are either half-translated or I just don't quite see whether or not everything is already translated due to the amount of XAML in the file. Being able to trigger the i18n using th

[2019-06-20 21:49] matthewrdev commented on #113
Hi @delakti, could you try the steps that @lachlanwgordon has listed above and let me know if it works.

Also, please update to v3.8.8. You may find this resolves the issue.

[2019-06-21 08:39] MBrekhof opened #119 "Navigate to Binding stopped working"
Visual Studio 8.1.1 (build 27), MFractor 3.8.9 (Build 3511), somehow Command+D stopped working (old/new editor)

[2019-06-22 04:57] matthewrdev commented on #119
Thanks for the report @MBrekhof. This is (again) likely caused by the VS Windows migration work. Let me take a look.

[2019-06-22 04:58] matthewrdev commented on #118
Thanks for the suggestion @sthewissen, it's kind of a no-brainer!

I'm thinking this would be best placed in the top MFractor -> Wizards menu under an item named **Localisation Wizard**.

What are your thoughts on this?

[2019-06-22 05:00] matthewrdev commented on #117
Thanks for the report @MBrekhof. What is the code analysis issue that MFractor is reporting here?

[2019-06-22 11:44] matthewrdev commented on #118
This is well underway @sthewissen and will be available in the next MFractor release as an item named **Localisation Wizard** in the top **MFractor** -> **Wizards**. This menu item will open the localisation wizard (if it's available) and focus the first localisable string in the document.

Thanks for the great feedback!

[2019-06-22 15:59] sthewissen commented on #118
Hey Matthew, wow, that's fast! Awesome. I was even thinking: what are the options you could offer in the right-click menu for specific files? I'm not hindered with knowledge in that department 😅 You could even put something in there like "Localize file" but that might be overkill.

[2019-06-22 21:39] matthewrdev commented on #118
Is this the menu you are thinking of?

![image](https://user-images.githubusercontent.com/3260473/59969126-01d0d700-958a-11e9-8e16-55009fea044c.png)

[2019-06-22 23:44] sthewissen commented on #118
Ugh, obviously there are multiple menus... I just meant the solution explorer though :)

[2019-06-23 00:06] matthewrdev commented on #118
Yeah that’s doable. The integration into this menu is already setup and the command I’m building hooks into it without much (if any) additional work.

So the answer is yes, but will take a little longer than the current work/changes.

[2019-06-23 02:41] matthewrdev commented on #118
Well, this opened up a can of worms Steven. I'm currently swimming my way through tech-debt in our localisation feature suite 😂

Definitely a good thing, I owe you a beer/coffee next time we cross paths as a thank you!

[2019-06-23 06:43] matthewrdev commented on #118
Mostly done:

![localise-wizard](https://user-images.githubusercontent.com/3260473/59972620-c956ea80-95d5-11e9-8469-4ee66ed880f8.gif)

There is some complexity getting this working in the right click context menu. For the moment this won't be supported.

This will released in MFractor 3.8.10.

[2019-06-23 09:09] sthewissen commented on #118
Very cool! Getting paid in beer/coffee for giving other people more work to do sounds like I could make a day job out of that 🤔Just kidding obviously, awesome work!

[2019-06-23 11:53] matthewrdev commented on #119
This has been fixed and will be available in MFractor 3.8.10.

[2019-06-24 01:04] matthewrdev commented on #118
Interested in having a chat with me sometime Steven about localisation? I've got lots ideas I'd like to bounce off you and hear your thoughts.

Shoot me an email if you're interested: matthew@mfractor.com

[2019-06-24 05:55] MBrekhof commented on #117
It tells me that the name is not unique (which is correct in this case)
<img width="403" alt="Screenshot 2019-06-24 at 07 53 35" src="https://user-images.githubusercontent.com/13586354/59994762-58efae00-9655-11e9-8ad9-219dad94a4c9.png">

[2019-06-24 07:02] matthewrdev commented on #119
This has been fixed in MFractor 3.8.10, targeting Visual Studio Mac 8.1.1 (Build 27), and is now available.

[2019-06-24 07:02] #119 closed

[2019-06-24 07:03] matthewrdev commented on #118
This has been added in MFractor 3.8.10, targeting Visual Studio Mac 8.1.1 (Build 27), and is now available.

[2019-06-24 07:03] #118 closed

[2019-06-24 09:14] MBrekhof opened #120 "Refactoring -> Replace with resx resource lookup doesn't function anymore"
mFractor 3.8.9, VS for Max 8.1.1 (build 27). In both the old and new c# editor the refactoring for string to resx values behaves strange: the string doesn't get replaced correctly unless you explicitly select it (next and/or replace have become useless).

[2019-06-24 09:50] sthewissen commented on #118
Awesome!

[2019-06-24 10:09] matthewrdev commented on #120
Hi @MBrekhof, I've just updated the ResX refactoring in v3.8.10 (released today).

Can you please update and re-test?

It's still failing, please zip up the log directory and attach to this ticket.

[2019-06-24 10:28] MBrekhof commented on #120
ok, I'll let you know as you as I get the update

[2019-06-25 06:32] MBrekhof opened #121 "Image importer screen not correct"
The screen looks somewhat distorted, see picture
<img width="917" alt="Screenshot 2019-06-25 at 08 31 09" src="https://user-images.githubusercontent.com/13586354/60074673-c4a04c80-9723-11e9-92a3-3fdd37dba7a2.png">

[2019-06-25 21:57] matthewrdev commented on #121
Thanks for the report @MBrekhof. I've located the cause of this and resolved it.

This will be fixed in the next MFractor release (3.8.11)

[2019-06-26 05:45] matthewrdev commented on #120
HI @MBrekhof, I'm currently having issues where updates for MFractor aren't showing in the IDE. You can find the fix in this version of MFractor: https://addins.monodevelop.com/Stable/Mac/8.1.1/MFractor.VS.Mac.MFractor-3.8.11.mpack

[2019-06-26 05:45] matthewrdev commented on #121
HI @MBrekhof, I'm currently having issues where updates for MFractor aren't showing in the IDE. You can find the fix in this version of MFractor: https://addins.monodevelop.com/Stable/Mac/8.1.1/MFractor.VS.Mac.MFractor-3.8.11.mpack

[2019-06-26 07:19] MBrekhof commented on #120
got it, thank you.

this issue is solved btw

[2019-06-26 07:19] #120 closed

[2019-06-26 07:23] MBrekhof commented on #117
realized my comment might be confusing as to what exactly is the problem, a new screenshot just in case this helps:

<img width="743" alt="Screenshot 2019-06-26 at 09 21 07" src="https://user-images.githubusercontent.com/13586354/60159627-f1bc3000-97f3-11e9-87fd-cb43ec04e4aa.png">

[2019-06-26 17:47] MBrekhof opened #122 "Feature request: skip AutomationId when localising"
If easy/possible I would like the localisation routine to skip AutomationId's, see picture

<img width="705" alt="Screenshot 2019-06-26 at 19 45 08" src="https://user-images.githubusercontent.com/13586354/60202601-31facd00-984b-11e9-9d7b-5d92f01c9aab.png">

[2019-06-26 21:51] matthewrdev commented on #122
Yes, I can make this happen.

Do you want this to be configurable (aka, users can choose to localise automationIDs) or to simply ignore it?

[2019-06-26 22:01] matthewrdev commented on #122
Ok, and done.

![automation-id-fix](https://user-images.githubusercontent.com/3260473/60218145-cac43380-98b1-11e9-99d8-b8a669c2e284.gif)

[2019-06-27 05:46] MBrekhof commented on #122
thanks

[2019-06-27 05:46] #122 closed

[2019-06-30 01:48] matthewrdev commented on #113
Hi @delkati, I’m closing this issue as I haven’t heard further information regarding this issue. If you’re still having problems, please reopen this ticket.

[2019-06-30 01:48] #113 closed

[2019-06-30 01:49] matthewrdev commented on #89
Closing this as it’s a very old ticket and we’ll create specific tickets when we start work on this feature suite. MFractor Windows is the current priority.

[2019-06-30 01:49] #89 closed

[2019-06-30 01:51] matthewrdev commented on #19
Hi Dan, doing an issue cleanup here.

Going to close this as our current focus is on MFractor Windows. I’ll take a look at this after we have shipped windows and have capacity for new feature suites.

[2019-06-30 01:51] #19 closed

[2019-06-30 01:52] matthewrdev commented on #15
Closing this as it’s a very old ticket and we’ll create specific tickets when we start work on this feature suite. After MFractor Windows, I’ll start investigating how MFractor can improve localisation tooling for Xamarin developers.

[2019-06-30 01:52] #15 closed

[2019-06-30 01:52] matthewrdev commented on #121
Closing this issue as this has been shipped in 3.8.11

[2019-06-30 01:52] #121 closed

[2019-07-04 20:36] marbet-zz opened #123 "Intellisense stopped working"
Hi, I still have the problem that intellisense in xaml files stopped working. (in shared library projects)

When opening an xaml file in visualstudio I get the following exception in the ide.log file:
(not sure if it is related, but anyways, it says mfractor far down in the stack trace...)

7/4/2019 10:21:09 PM [InstallProceduralColors.cs : Exception] - AppKit.AppKitThreadAccessException: AppKit C

[2019-07-05 04:23] matthewrdev commented on #123
Hi @marbet-zz, thanks for reporting this.

This is a wider issue within Visual Studio for Mac and unfortunately this is out of my hands. There were changes in how the design time compilation was constructed for shared projects in VS Mac 8.1 and above and it no longer exposes the data we need to support our intellisense engine.

You'll notice this problem also exists without MFractor installed and

[2019-07-16 01:04] lachlanwgordon opened #124 "Generate Extension Method - Enhancement"
It would be cool to have a quick fix to generate an extension methods when you get the error "'{TypeName} does not contain a definition for '{MethodName}' and no accessible extension method ... could be found'"

When you select the quick fix it would let you choose which class to put it in. If you can find other extension methods(defined in this solution), used in the same file it could default to

[2019-07-16 14:26] akamud opened #125 "'Go To Implementation' is not working and is missing from context menu"
Since the last version of MFractor I'm missing the "Go To Implementation" option from the context menu:

![image](https://user-images.githubusercontent.com/954102/61301155-ba6ced80-a7b9-11e9-9f61-919ca7b81683.png)

Also, using the Option + D shortcut doesn't navigate anymore, even though I double-checked my keybindings are correct:

![image](https://user-images.githubusercontent.com/954102/6130120

[2019-07-26 06:24] sthewissen opened #126 "Overwrite all for the Image Import Wizard?"
We have designers on the team that regularly change opinions on things, so replacing images is a common task. Using the image import wizard we get the following dialog when the image is already present:

![image](https://user-images.githubusercontent.com/2419439/61930620-98742780-af7e-11e9-9ad3-4b9a9e387195.png)

However, it will be replaced in 3 iOS formats and quite a few Android resolutions. Th

[2019-07-26 08:11] matthewrdev commented on #126
Hey Steven, update to MFractor v3.8.15 (see link in twitter exchange) and
let me know what you think.

Pretend it’s the worlds fastest hotfix ☺️

On Fri, 26 Jul 2019 at 4:24 pm, Steven Thewissen <notifications@github.com>
wrote:

--
Regards,
Matthew Robbins

[2019-07-26 18:21] FranCedron2690 opened #127 "Problems initializing Mfractor in the las version of Visual Studio Xamarin 2019"
Hi!

I recently downloaded the last MFractor version from the las update
 of Xamarin from Visual Studio Mac 2019. I have two problems, probably both relationed:

-After installed Mfractor, the window to activate license is not showed(I read the documentation and I supposed that it must be showed)

-Nothing is working correctly, and my Visual Studio is locked trying to load for example a new name c

[2019-07-29 08:08] MBrekhof opened #128 "localization wizard error"
Hi,
Using the latest version the localization wizard inserts **l**18n:Translate instead of i18n:Translate.
(The difference is the first letter )

[2019-07-29 13:00] matthewrdev commented on #128
Thanks for reporting this Martin. This will be fixed in the next release.

On Mon, 29 Jul 2019 at 6:08 pm, MBrekhof <notifications@github.com> wrote:

--
Regards,
Matthew Robbins

[2019-07-29 19:56] matthewrdev commented on #126
Closing this issue as this feature has already been added to MFractor.

[2019-07-29 19:56] #126 closed

[2019-07-29 19:57] matthewrdev commented on #127
Hi @FranCedron2690, it looks like you've fallen foul of an issue with our auto-updates.

Can you please follow these instructions to update and then confirm if it's addressed your issue: https://www.mfractor.com/blogs/news/mfractor-auto-updates-known-issue

[2019-07-30 01:05] matthewrdev commented on #124
Hey @lachlanwgordon, thanks for the great feedback.

This is a cool idea and will definitely save time/effort. Plus you've basically written a spec for us. I'll stick this into our work backlog and try to get it actioned soon.

[2019-07-30 03:54] matthewrdev commented on #124
@lachlanwgordon I'll put together a UI mockup for this and get your thoughts on it next.

[2019-07-30 22:42] matthewrdev commented on #125
Hi @akamud, can you please try the steps outlined here and then report back: https://www.mfractor.com/blogs/news/mfractor-auto-updates-known-issue

[2019-07-30 22:45] matthewrdev commented on #123
@marbet-zz Can you please confirm if this issue is still persisting in Visual Studio Ma 8.2? In my current installation the XAML InteliSense is now working in shared projects.

Side note: We are porting our XAML editor at the moment and will have the core functionality rebuilt by the end of the week.

[2019-07-31 06:34] lachlanwgordon opened #129 "Generate View Model Dialog needs more options"
It would be nice if the Generate View Model window had a few more options to bring it up to speed with the features in the MVVM wizard i.e. "ViewModel Base Class" and "Binding  Context Initialization".

Ideally these settings would have the default valudes fromt he "Project MVVM Settings" in the MVVM wizard.

e.g.
I have a content page with no BindingContext, I try to bind a command on a button an

[2019-07-31 06:35] mfranc28 opened #130 "Auto create of ViewModel don’t put the Bindingcontext in code behind"
When using the auto creation of VieweModel the relative Bindingcontext in XAML code behind wasn’t create.

[2019-07-31 13:54] akamud commented on #125
Hi @matthewrdev, I tried that and I can see that many MFractor commands are available, it is just a problem with that specific command.

![image](https://user-images.githubusercontent.com/954102/62217652-62b9af00-b381-11e9-85af-06f537e5d4d7.png)

In fact, investigating a bit more, I noticed that it does show up when I'm using the new C# editor. I don't use the new editor because it lacks Vim suppo

[2019-08-01 00:24] matthewrdev commented on #130
Thanks for logging this issue Michelangelo.

Funnily enough @lachlanwgordon has filed a very similar issue at the exact same time. I'm going to close this as a duplicate of #129.

[2019-08-01 00:25] #130 closed

[2019-08-01 00:27] lachlanwgordon commented on #130
wow, only one minute between the two.

[2019-08-01 00:29] matthewrdev commented on #129
@lachlanwgordon Thanks for the great feedback.

For some context, this particular window is a generic code generation window and doesn't fully tie into the MVVM generation engine. It was retro-fitted onto some very old functionality.

I agree that it needs to be expanded to include these additional options, after the IntelliSense migration is finished I'll take a look at this and how to expose out

[2019-08-01 00:54] matthewrdev commented on #125
I'll take a look and see what's happening. Technically we deprecated support for "Go To Implementation" once the native implementation came out so this could be the cause. It *should* still be online under the hood but this indicates it is not.

[2019-08-01 01:14] matthewrdev commented on #100
@mrxten Visual Studio Mac now has proper support for expression completions with the introduction of the new editor in v8.2. I'm going to close this issue as we are now deprecating our support for the old editor.

[2019-08-01 01:14] #100 closed

[2019-08-01 01:16] matthewrdev commented on #101
@mrxten With the introduction of the new XAML editor in Visual Studio Mac 8.2 this is now natively supported by the editor. We are deprecating our support for the old editor in MFractor v3.9 so I'm closing this issue.

[2019-08-01 01:16] #101 closed

[2019-08-01 01:25] matthewrdev commented on #97
@orestesgaolin This is now supported in the new Visual Studio editor in v8.2. Closing this issue.

[2019-08-01 01:25] #97 closed

[2019-08-04 20:43] marbet-zz commented on #123
Yippi, now it works:-)

Martin Betz
On 31 Jul 2019, 00:45 +0200, Matthew Robbins <notifications@github.com>, wrote:

[2019-08-04 23:48] #123 closed

[2019-08-04 23:49] matthewrdev commented on #127
Hi @FranCedron2690, going to close this issue as haven't heard anything further and the above steps should address your problem.

[2019-08-04 23:49] #127 closed

[2019-08-06 12:23] WouterStraver commented on #109
I was wondering if there was any progress on this request :-)

[2019-08-07 06:38] matthewrdev commented on #109
Hey Wouter, apologies but there was no movement on this. We got caught up in MFractor for Windows.

![image](https://user-images.githubusercontent.com/3260473/62600222-ac7e3880-b931-11e9-9134-9b62dd83a6dc.png)

Would a project combo box just above the Resource file picker be suitable?

[2019-08-07 06:38] matthewrdev commented on #128
This has been released in MFractor v3.8.16.

[2019-08-07 06:38] #128 closed

[2019-08-07 07:18] WouterStraver commented on #109
No worries, you already did an awesome job the last months!

Yes a project combo box would be great.

Thanks for the quick reply :-)

[2019-08-22 03:57] rotorgames opened #131 "Xaml tips don't work"
VS4Mac Version 8.2.3 (build 16)
mfractor 3.8.17

![Aug-21-2019 17-25-45](https://user-images.githubusercontent.com/1790504/63484900-5a512180-c4b2-11e9-9dbe-39cf63e04c22.gif)

Mfractor tries to put "Grid.Row" automatically but I don't want it.
Also, mfractor shows "Generate new property" in `Margin`. I think it is wrong behavior.

[2019-08-22 06:11] matthewrdev commented on #131
@rotorgames  Can you download 3.8.18 and double check this? Please find this download here: http://addins.monodevelop.com/Stable/Mac/8.2.3/MFractor.VS.Mac.MFractor-3.8.18.mpack

[2019-08-23 22:16] matthewrdev opened #132 "When using the Go To View|Code Behind|ViewModel shortcuts, show a status bar indicator when you are already in that file."

[2019-08-26 07:49] MBrekhof opened #133 "VS for Mac 8.2.4 problem"
Hi
Basically I have the same problem as in #127, the only way to get VS working is to remove mfractor completely (I followed the steps you outlined in the webpage).

regards

[2019-08-28 07:43] MBrekhof commented on #133
Update VS Mac to 8.2.5 (build 5), the download/install from inside VS still gives an error on startup. Installing 3.8.15 from file works.

[2019-08-30 04:03] matthewrdev commented on #133
Thanks for reporting the issue @MBrekhof. We are aware of the installation issue (the extension repository is still publishing the wrong version) and are currently evaluating migrating away from the extension server.

In the meantime you can download the latest builds from here: http://addins.monodevelop.com/Project/Index/300

[2019-09-03 12:46] WouterStraver opened #134 "Enhancement Localization tool"
Would it be possible to use CMD + D (Go to Declaration) on a translation binding in Xaml and when pressed navigate to the resource file and the correct line. Or another function to easily overwrite a translation.

[2019-09-03 12:47] WouterStraver commented on #134
Also a preview on hover for the translation would be awesome as well ;-)

[2019-09-04 22:10] matthewrdev commented on #134
This is a great suggestion @WouterStraver. I'll be doing a polish pass over MFractor soon and I'll aim to include both of these suggestions.

This may be a few weeks away as we are currently rolling out our Windows alpha release.

[2019-09-05 10:51] lachlanwgordon opened #135 "MVVM Wizard behaves very strangely if you use it in a brand new solution."
I was using the MVVM Wizard in a brand new Forms Solution today and strange things were happening.
VSMac 8.2.15
MFractor 3.8.18
Full Install details here https://gist.github.com/lachlanwgordon/0bac280ef4f97298f6414b1abe0b7214

Repro steps:
File>New Forms Shell App.
Run MVVM Wizard
Choose appropriate settings
All the things below happen.

Work Around:
Restart VSMac, everything works fine.

## Issue

[2019-09-05 11:09] lachlanwgordon opened #136 "Enhancement: Delete Output folders Extending and Configuring"
I love the delete output folders feature but there are two situations where it could be improved.

## 1. Delete .vs
When working on .Net Core Web projects in Visual Studio Windows it is quite common to have to delete the .vs folder to fix IIS port problems. It would be nice if delete output folders could delete this too. However this always requires a solution reload and more often than not, I onl

[2019-09-06 05:11] lachlanwgordon opened #137 "Image importing triggered by adding image in the solution only adds to the other project"
When you drag an image into the Resources directory in iOS, VSMac asks if you want to copy. MFractor then asks if you would like to use the importer.

![Screen Shot 2019-09-06 at 2 24 47 pm](https://user-images.githubusercontent.com/29908924/64401168-0f8af880-d0b3-11e9-89f5-513ad1dcf29a.png)
 I click yes and it shows the Import Image Asset, with iOS and Android ticked I click "Import Image"
![Scre

[2019-09-08 23:24] matthewrdev commented on #137
@lachlanwgordon This has been fixed and will be included in our next service release (3.8.19).

After importing the image asset, MFractor will now ask if you'd like to delete the original project file.

[2019-09-08 23:26] matthewrdev commented on #135
@lachlanwgordon  Thanks for reporting these issues.

Several of these issues sound like a by-product of that `LocationTracker-Xaml` project. This project is a design-time project auto-created by VS Mac for XAML IntelliSense and has only just started to appear in VS Mac.

I'll investigate each of these issues and get back to you.

[2019-09-08 23:32] #132 closed

[2019-09-09 00:34] matthewrdev opened #138 "Enable the localisation wizard to move resources into projects that the current project references."
As per title

[2019-09-09 00:53] matthewrdev commented on #136
@lachlanwgordon Would you picture these settings also being available in the global MFractor preferences menu?

I'll mockup a design for a Delete Ouput Folders dialog and get your feedback 👍

[2019-09-09 04:33] matthewrdev commented on #138
This has been completed and will be available in v3.8.19.

[2019-09-09 04:33] #138 closed

[2019-09-12 02:07] kphillpotts opened #139 "Suggestion: Change the Delete Output Folders location"
I find the current location of the `Delete Output Folders` and `Clean and Compress` to be too easy to accidentally click.

![image](https://user-images.githubusercontent.com/1327346/64748467-9c233400-d555-11e9-8fd0-598d5ad0bb84.png)

Not sure how much control you have over the location in the context menu, but it would probably be better next to the existing `Clean Solution` menu option.  Also it

[2019-09-12 02:41] kphillpotts opened #140 "Import Image Dialog Feedback"
1. I think there might be some file locking going on.  If I select an image from this dialog, and then cancel (close the dialog), then go and try and re-export an image from adobe xd to overwrite the file it says the file is in use.

2. Looks like there might be some font sizing / DPI issues with the Import Image Dialog.

![image](https://user-images.githubusercontent.com/1327346/64749749-0d64e600

[2019-09-12 06:44] matthewrdev commented on #139
@kphillpotts This has been fixed in v0.1.3 of MFractor for Visual Studio Windows. I've provided you a link for an updated build via DM.

[2019-09-12 06:44] #139 closed

[2019-09-12 07:14] WarriorBlue opened #141 "When I start VS for Mac, System.Reflection.TargetInvocationException occurs."
This is an exception, and it says that:
Error: Error while getting object for node in path ‘/MonoDevelop/ide/DisplayBindings’
Exception: System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation.

##Installation Information

[code]

[2019-09-15 07:13] matthewrdev commented on #141
@WarriorBlue Can you please uninstall any existing installations of MFractor and install the latest version from there: http://addins.monodevelop.com/Project/Index/300

[2019-09-20 01:10] lachlanwgordon commented on #137
yay, thank you.

[2019-09-20 01:16] lachlanwgordon commented on #136
They could go in the settings as well, but i think the main place to be able to change is through right-clicking on project/solution so you don't have to dig into the settings if you just want to do a different thing as a one off.

[2019-09-30 22:42] #133 closed

[2019-09-30 22:45] matthewrdev commented on #93
This is now natively supported in the Visual Studio Mac 8.2 and above editor.

[2019-09-30 22:45] #93 closed

[2019-10-01 20:21] matthewrdev commented on #137
@lachlanwgordon This has been released and is available in MFractor v3.8.19.

If you do not receive an update, please try installing using this link: http://addins.monodevelop.com/Stable/Mac/8.3.1/MFractor.VS.Mac.MFractor-3.8.19.mpack

[2019-10-01 20:21] #137 closed

[2019-10-01 20:21] #141 closed

[2019-10-01 20:22] matthewrdev commented on #109
@WouterStraver This has been released in v3.8.19 of MFractor.

You should receive an update notification, however, you can also download and install using this file:
http://addins.monodevelop.com/Stable/Mac/8.3.1/MFractor.VS.Mac.MFractor-3.8.19.mpack

[2019-10-01 20:22] #109 closed

[2019-10-01 22:56] lachlanwgordon commented on #137
Awesome, thanks @matthewrdev, I'll test it out today.

The VSMac update window is showing the update.

[2019-10-03 12:18] rotorgames commented on #131
@matthewrdev The last version 3.8.19 works fine. Thanks.

[2019-10-03 12:18] #131 closed

[2019-10-04 03:32] matthewrdev commented on #131
Good to hear @rotorgames. I'll be publishing another update in a few days to address more issues and also restore in-expression binding intellisense.

[2019-10-04 05:40] rotorgames commented on #131
@matthewrdev P.S. I found that after finishing auto-completion a pointer is located at the end of the line but not in " ". It happens with Setters in Style for example. Please, take a look.
![Oct-04-2019 09-39-37](https://user-images.githubusercontent.com/1790504/66183741-f2821f00-e68a-11e9-8913-c3e5f7d22f29.gif)

[2019-10-04 08:55] matthewrdev commented on #131
Thanks for the report Kirill.

Can you please open a new ticket for this? Helps with tracking and gives
public visibility into what we are working on.

On Fri, 4 Oct 2019 at 3:40 pm, Kirill <notifications@github.com> wrote:

--
Regards,
Matthew Robbins

[2019-10-05 06:39] rotorgames commented on #131
@matthewrdev Sure

[2019-10-05 06:40] rotorgames opened #142 "A pointer is located incorrectly after IntelliSense completion"
I found that after finishing auto-completion a pointer is located at the end of the line but not in " ". It happens with Setters in Style for example. Please, take a look.
![Oct-04-2019 09-39-37](https://user-images.githubusercontent.com/1790504/66183741-f2821f00-e68a-11e9-8913-c3e5f7d22f29.gif)

[2019-10-05 06:41] rotorgames commented on #110
@matthewrdev Any updates?

[2019-10-05 20:41] matthewrdev commented on #110
@rotorgames Thanks for the reminder, have let this stagnate.

Can you please provide a small repro case again? I've lost the last one :|

[2019-10-06 00:35] matthewrdev commented on #142
@rotorgames This has been fixed and will be available in MFractor v3.9 which will be released in the coming few days.

[2019-10-06 00:36] matthewrdev commented on #142
![Uploading image.png…]()

[2019-10-06 00:37] matthewrdev commented on #142
![insertion-bug](https://user-images.githubusercontent.com/3260473/66262515-53455f00-e825-11e9-8985-52e911d76d81.gif)

[2019-10-06 00:38] #142 closed

[2019-10-06 01:04] matthewrdev commented on #117
@MBrekhof This has been fixed and will be available in MFractor v3.9 (to be released in the next few days).

[2019-10-06 01:04] #117 closed

[2019-10-10 14:03] rotorgames commented on #110
@matthewrdev I'm sorry but it didn't help :(

[2019-10-11 21:11] matthewrdev commented on #110
@rotorgames Can you provide a small reproduction sample?

[2019-10-16 04:13] lachlanwgordon opened #143 "Mfractor Says Title and Subtitle are invalid FontSizes but it works and is in official doc"
Here's the Mfractor Error
<img width="684" alt="Screen Shot 2019-10-16 at 3 11 11 pm" src="https://user-images.githubusercontent.com/29908924/66887648-5a3f4f00-f027-11e9-9634-c277ca8a5075.png">

and here's the allowed sizes from https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/text/fonts
<img width="897" alt="Screen Shot 2019-10-16 at 3 12 51 pm" src="https://user-images.githu

[2019-10-16 06:21] matthewrdev commented on #143
@lachlanwgordon  This has been fixed and will be available in MFractor v3.8.23.

[2019-10-18 02:24] #143 closed

[2019-10-18 02:25] matthewrdev commented on #135
@lachlanwgordon I believe the 3.8.23 update should have fixe these issues. Can you check and confirm? If fixed, will close this ticket.

[2019-10-18 10:44] lachlanwgordon commented on #135
Works like a charm. Cheers.

[2019-10-18 10:44] #135 closed

[2019-10-20 04:24] matthewrdev commented on #140
@kphillpotts I've fixed the build action issue in the image importer for Android assets. Next release will set the BuildAction to "AndroidResource".

Looking into the other issues.

[2019-10-29 21:59] danielbarrosamorim opened #144 "Can't Import Image Asset"
When I click  Choose Image from Import Image Asset nothing happens. So I can't set the image.

##Installation Information

[code]

[2019-10-29 22:06] danielbarrosamorim commented on #144
![Import_Image_Asset](https://user-images.githubusercontent.com/7776295/67812962-20d2fe80-fa7f-11e9-9861-149478943fd1.png)

[2019-10-29 23:05] ravero commented on #144
Hi Daniel,
Thanks for your feedback. We've already identified this issue and its going to be addressed in a future update. We'll keep you posted as soon as we release it.

[2019-11-05 20:48] matthewrdev commented on #144
@danielbarrosamorim Could you please upgrade to v3.8.24 and retest this? This release should fix this issue however I'd like to double check with you.

[2019-11-05 20:53] danielbarrosamorim commented on #144
@matthewrdev Sure, but how can I get this new version? It is not available on VS updates.

[2019-11-05 21:08] matthewrdev commented on #144
@danielbarrosamorim Please update Visual Studio Mac to 8.3.7, you should receive an update notification for MFractor then.

Alternatively, you can use the following link: http://addins.monodevelop.com/Stable/Mac/8.3.7/MFractor.VS.Mac.MFractor-3.8.24.mpack

Please note that this release targets Visual Studio Mac 8.3.7 and may not work on previous releases.

[2019-11-05 21:18] danielbarrosamorim commented on #144
@matthewrdev I dit it, but the issue remains the same. If you need more info or even want to access my mac remotely please let me know.

Here is my About info:
=== Visual Studio Community 2019 for Mac ===

Version 8.3.7 (build 1)
Installation UUID: d1f217ac-e229-4870-8d95-2d0b764769eb
	GTK+ 2.24.23 (Raleigh theme)
	Xamarin.Mac 5.16.1.24 (d16-3 / 08809f5b)

	Package version: 604000208

=== Mono Fra

[2019-11-05 21:43] matthewrdev commented on #144
@danielbarrosamorim Let's arrange a call for the next few days. Please email me (matthew@mfractor.com) and we'll get it solved.

[2019-11-06 04:07] matthewrdev commented on #110
@rotorgames Just another nudge, can I please grab a reproduction sample?

[2019-11-06 21:37] matthewrdev commented on #144
@danielbarrosamorim This appears to be caused by a Xamarin.Mac + Catalina issue specifically related to the open file dialog. Based on the commit history of MonoDevelop, this looks like it will be addressed in the coming Visual Studio Mac 8.4 release.

Please see the following links:
https://github.com/xamarin/xamarin-macios/issues/6474
https://github.com/mono/monodevelop/commit/1d53dedc00145e4c2c

[2019-11-07 00:39] matthewrdev commented on #115
@lachlanwgordon Would keeping an updated release note section on our docs site be suitable for this?

[2019-11-17 23:39] matthewrdev opened #145 "MFractors XAML code actions are not accessible through the "Option+Return" menu"
As per description. More detail to be added if needed.

[2019-11-18 14:23] WouterStraver opened #146 "Darkmode support Image tool"
It would be nice to support dark mode images for the image import tool. So when importing an image there would be an optional option to add a dark mode variant and create al the drawable-night variants /xcassets files.

[2019-11-18 14:53] WouterStraver opened #147 "Image import tool bug iOS"
On the latest version (3.8.25) the images on iOS are imported differently. And because of that they aren't working.

Before the were imported like:
`<ImageAsset Include="Assets.xcassets\arrowline.imageset\arrow_line.png" />`

And now like
`<None Include="Assets.xcassets\ic_trainingen_tab.imageset\arrow_line.png" />`

Or did I configured something wrong?
For Android it's working fine.

[2019-11-18 20:22] matthewrdev commented on #147
@WouterStraver This is just flat out a bug. Let me look into it.

[2019-11-18 20:57] matthewrdev commented on #147
@WouterStraver What version of Visual Studio Mac are you using?

[2019-11-18 20:59] matthewrdev commented on #115
@lachlanwgordon We have published a new docs.mfractor.com site and will now be keeping track of our release notes here: http://docs.mfractor.com/release-notes/mac/current/

[2019-11-18 20:59] #115 closed

[2019-11-18 22:19] matthewrdev commented on #146
@WouterStraver This is a great and essential addition to the image importer. Can I please get you to join me in a feedback call to flesh this out?

Please email me (matthew@mfractor.com) and we will figure out how to get this feature added.

[2019-11-19 01:29] matthewrdev commented on #147
@WouterStraver This has been fixed and will be available in MFractor v3.9

[2019-11-19 01:29] #147 closed

[2019-11-19 01:32] matthewrdev commented on #129
## Technical Notes
As this feature leverages the generate code files infrastructure, we need to add a feature to that dialog that allows exposing of settings.  We can then leverage that new infrastructure to expose the  generate view model options/configuration into this dialog.

[2019-11-19 08:22] matthewrdev commented on #146
## Description

The image importer should include an additional "Choose image" field that enables a developer to also choose the dark-mode resource for the newly imported image asset.

This option should be below the existing "Choose Image" element.

Adding a dark mode image would generate the following additional files in Android:

`[drawable|mipmap]-night-[density]`

Adding a dark mode image wou

[2019-11-20 10:56] mfranc28 opened #148 "Difference between real imported image and imagemshow in Mobile Image Assed Pads"
I import, with and without using of Import Asset Wizard some image.
The strange thing is that when I look into Resource Folder I see the correct image, but when I see it with Mobile Asset Image the image look different in rotation, it's 90 degree rotated.

The original image was exactly as see on Mobile Image Asset, but before import it on solution I made a 90 degree rotation via MacOS Preview App

[2019-11-20 11:44] matthewrdev commented on #148
Thanks for reporting this @mfranc28.

Does the image display correctly in your app?

[2019-11-20 11:45] matthewrdev commented on #148
This could be a display issue in the image manager, for example, it’s not honouring a rotation tag etc when it’s rendering the preview.

[2019-11-20 12:09] mfranc28 commented on #148
Yes

Michelangelo Franco
Il 20 nov 2019, 12:45 +0100, Matthew Robbins <notifications@github.com>, ha scritto:

This could be a display issue in the image manager, for example, it’s not honouring a rotation tag etc when it’s rendering the preview.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/mfractor/mfractor-feedback/issue

[2019-11-20 20:16] matthewrdev commented on #148
@mfranc28 Can you please attach the original image file to this issue?

[2019-11-21 00:46] matthewrdev opened #149 "Dynamic resources declared within nested code blocks inside methods are not available through tooltips or intellisense"
## Description
When editing XAML and trying to set a property using a dynamic resource, dynamic resources defined by nested code blocksin a function are not provided.

For example, declaring dynamic resource like below will not be provided:

[code]

This is caused by the C# dynamic resource indexer not walking into nested code blocks when it indexes a code file.

[2019-11-27 05:14] matthewrdev commented on #110
@rotorgames This issue has gone stale and am closing. If it's still present, please re-open it and attach a small reproduction case.

[2019-11-27 05:14] #110 closed

[2019-11-27 09:12] matthewrdev commented on #136
@lachlanwgordon This has been completed and will be available in the next release.

Please see: http://docs.mfractor.com/utilities/delete-output-folders/#configuring-delete-output-folders-mac-only

[2019-11-27 09:12] #136 closed

[2019-12-01 20:36] MBrekhof opened #150 "Error message when saving preferences -> code analysis"
(not sure whether or not this is a MFractor problem) When changing and saving code analysis preferences VS tells me that there was an error saving the changes when changing this setting. Re-loading the project shows  the changes were saved
<img width="963" alt="Screenshot 2019-11-29 at 15 23 10" src="https://user-images.githubusercontent.com/13586354/69919941-9832ee00-1482-11ea-9d2f-943c41f2342b.p

[2019-12-01 20:52] matthewrdev commented on #150
Thanks for reporting the issue @MBrekhof. Could you also please attach or email your IDE.log files? Please see http://docs.mfractor.com/support/#visual-studio-mac

[2019-12-01 21:16] MBrekhof commented on #150
ok
[Archive.zip](https://github.com/mfractor/mfractor-feedback/files/3908722/Archive.zip)

[2019-12-02 08:02] MBrekhof commented on #150
solved in 3.9

[2019-12-02 08:02] #150 closed

[2019-12-02 08:12] matthewrdev commented on #150
@MBrekhof Good to hear! 👍

[2019-12-04 04:36] matthewrdev commented on #144
@danielbarrosamorim Can I please confirm that this is still an issue for you?

Using MFractor 3.9 and VS Mac 8.3.10 on Catalina I was not able to reproduce this issue.

[2019-12-04 04:41] matthewrdev commented on #148
@mfranc28 Following up on this, can you please attach or email the original image asset that is causing this issue?

[2019-12-04 09:30] mfranc28 commented on #148
[cid:507EA231-B7D0-403A-A82C-DC7F6563AD0E]

Il giorno 20 nov 2019, alle ore 21:16, Matthew Robbins <notifications@github.com<mailto:notifications@github.com>> ha scritto:

@mfranc28<https://github.com/mfranc28> Can you please attach the original image file to this issue?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/mfracto

[2019-12-04 23:10] matthewrdev commented on #125
@akamud Following up on this to confirm that this is still an issue?

As the old editor is deprecated in Visual Studio Mac, it's unlikely that we will support this in future. We have open sourced the ["Go To Implementation"](https://github.com/matthewrdev/vs-mac-extension-samples/tree/master/GoToImplementation/GoToImplementation) feature which could be ported into a stand alone extension.

Another

[2019-12-04 23:13] rajczi opened #151 "Custom Keyboard Bindings for MFractor Functions"
I'd love to have all the MFractor commands available in the Key Bindings area so custom keyboard shortcuts could be mapped directly to your functions.

On VS Mac: Visual Studio Menu -> Preferences -> Environment -> Key Bindings

If possible, I'd expect MFractor to have a section heading in that dialog with all of its main commands listed where we could enter a customer keyboard shortcut.

[2019-12-04 23:21] matthewrdev commented on #151
Thanks for the feedback @rajczi 🙏

[2019-12-05 00:17] matthewrdev opened #152 "Add a "Refresh" button to the image manager"
# Description
Until the workspace events engine is implemented in MFractor for Windows, changes to the image assets in a solution are not reflected back into the image manager.

As a workaround, we should include a "Refresh" button into the image manager that triggers a re-gathering of the images in the solution.

[2019-12-05 00:23] matthewrdev commented on #148
@mfranc28 Unfortunately the image didn't attach via email. Could you please attach directly using on the GitHub issues page.

[2019-12-05 01:22] lachlanwgordon opened #153 "Value Converter Wizard Parameter Type is ignored"
When using the Value converter, setting the parameter type has no affect on the generate code. I'm guessing the intended behaviour is that is would do a cast and type check similar to what you do with the input.

e.g. I'm making a value converter from int to double to that should multiply the int by a factor specified in XAML.

I enter double in the Parameter Type field
![Screen Shot 2019-12-05 at

[2019-12-05 01:26] lachlanwgordon commented on #153
Forgot to mention:
Visual Studio Community 2019 for Mac (Preview) Version 8.4 Preview (8.4 build 2535)
MFractor 3.9.0

MFractor 3.9.0 doesn't officially target 8.4 but if you switch to stable VS, install mfractor, then switch back to preview it works.

[2019-12-05 01:51] matthewrdev commented on #153
@lachlanwgordon I'll update the code template to include:

         var param = (double)parameter;

Would this be suitable?

[2019-12-05 01:55] matthewrdev commented on #153
Changed the template to:

using System;
using System.Globalization;
using Xamarin.Forms;

namespace $namespace$
{
    [$value_conversion_attribute$(typeof($input_type$), typeof($output_type$))]
    public class $name$ : IValueConverter
    {
        public object Convert(object value, Type targetType, object parameter, CultureInfo culture)
        {
            if (value is $input_type$ == false)

[2019-12-05 02:01] lachlanwgordon commented on #153
That will do the trick although I think adding type checking would be better to prevent an Invalid Cast Exception and return default value for output type if parameter is wrong.

That kind of comes down to a style preference as to whether you'd prefer to have an exception or return null/default if you give it a bad parameter which is a decision each user will have to make.

Given there's no way to

[2019-12-05 02:02] matthewrdev commented on #153
You can always remove the parameter line immediately after creating the snippet. The wizard will get you most of the way there and you can fill in the final blanks :)

[2019-12-05 02:04] lachlanwgordon opened #154 "Value Converter Wizard Enhancement"
When you use the Value Converter wizard, it would be cool if as well as generating the Converter, it also added the converter as a Static Resource in your xaml and added the xmlns for converters if not already present in the xaml.

For the UI in the wizard this would be an extra field on the left to specify which .xaml file to add it to. You'd want the option to choose App.xaml if you think it's a

[2019-12-05 02:05] matthewrdev commented on #153
![image](https://user-images.githubusercontent.com/3260473/70197387-cb65cd80-175f-11ea-8491-c5106793146e.png)

[2019-12-05 02:06] lachlanwgordon commented on #153
Beautiful.

[2019-12-05 02:09] matthewrdev commented on #153
I'll release this shortly.

[2019-12-05 02:10] matthewrdev commented on #154
I like this suggestion!

MFractor already has all of the infrastructure to do this (thanks to the extract style refactoring) so I'll get it done.

[2019-12-05 05:43] lachlanwgordon opened #155 "Generating a Converter from the Generate actions in Xaml, sets the Converter on the binding twice"
If I have a binding and I write the name of a converter that doesn't exist, in the generate context menu I can select "Generate a new value converter that converts 'Type' into a 'TextAlignment'"

![Screen Shot 2019-12-05 at 4 37 35 pm](https://user-images.githubusercontent.com/29908924/70207228-4211c380-177e-11ea-9d48-a9862919843f.png)

It mostly works, but it adds a converter to my binding, even

[2019-12-05 06:04] lachlanwgordon opened #156 "Generated Converter Type Inference"
If I have a binding and I write the name of a converter that doesn't exist, in the generate context menu I can select "Generate a new value converter that converts 'Type' into a 'TextAlignment'" but the converter it generates just has 'object' for the input and output types when casting.

e.g.
I declare a converter that doesn't exist in xaml, context menu exposes mfractor generating one for me.
![

[2019-12-05 06:18] matthewrdev commented on #156
@lachlanwgordon Thanks for reporting this issue. This code fix should ideally use the value converter wizard as it supports what you’re describing.

On a side note, do you have any feedback on the automatic type inference? Is it working naturally for you and makes sense?

[2019-12-05 06:18] lachlanwgordon opened #157 "Generating a value converter from the context menu in a xaml file sets the wrong namespace if the output type is a primative"
Ready for a weird one?

In my Xaml I declare that the value converter for a binding is something that doesn't exist yet. When ask Mfractor to generate it, it mostly works but the name space is set to the output type. This seems to only happen if the output is a primative but not with reference types. This occurs if the output type is int, double, string(not actually a primative but darn close). Th

[2019-12-05 06:26] lachlanwgordon opened #158 "Value converters generated from Xaml Context menu are created in a folder with the name of the input type"
When you generate a converter from xaml, it puts it in a folder based on the input type.

I would have expected it to be created in  the Converters folder, which is where I like to keep them and where the Wizard puts them.

Seems like this issue and the others I've just reported are around a list of arguments and your indexes are off by one, or maybe 2.

Here's my hot mess of a project structure i

[2019-12-05 06:39] lachlanwgordon commented on #156
Works great if both types are primatives(or low level system classes).

If I'm using my own classes of something from Xamarin Forms it can't guess which is probably fair enough because there would be a lot of searching for you to do.

One quirk that's worth fixing is, if input is not inferrable but output is, it ignores my input type and puts the output type in the input type field.

e.g.

I named

[2019-12-05 06:49] lachlanwgordon opened #159 "Docs Pencil button leads to 404"
Every page in the Docs has a pencil button sugesting users can edit. When you click it you get a 404.

Not sure whether you want it to lead to a page so users can contribute, or if the button should be hidden completly, but probably one of these.

[2019-12-05 06:50] lachlanwgordon opened #160 "Docs pages that are not listed are searchable"
If you search the Docs for Value Converter, it will take you to a stub page that is just a title. I guess the page exists as a marker for where you will write docs in the future but if you can hide these useless pages from the search that would be good.

[2019-12-05 06:56] lachlanwgordon opened #161 "Value Converter Wizard and Actions have no docs"
There are no docs about Value Converter Wizard or the context action generations for them.

I went looking because I didn't know what a Value Converter Parameter was after seeing it in the wizard. Turns out that was a gap in my knowledge and the answer lay in the Xamarin Forms docs.

Thanks for teaching me, I needed that feature from forms and I may have implemented something wacky myself if I had

[2019-12-05 13:03] MBrekhof opened #162 "SVG Imageconverter fails"
Trying to import an SVG but it fails with an error, see attachment:

![Screenshot 2019-12-05 at 11 39 06](https://user-images.githubusercontent.com/13586354/70237613-e1778c00-1767-11ea-93da-1f1299f9fd20.png)

[2019-12-05 13:06] MBrekhof commented on #162
just in case I'll attach the svg
[afbeelding_landing.svg.zip](https://github.com/mfractor/mfractor-feedback/files/3926913/afbeelding_landing.svg.zip)

[2019-12-05 15:39] rajczi opened #163 "Binding validation error for static source references"
When entering a binding with the following syntax:

`TextColor="{Binding BackgroundColor, Source={x:Static local:App.Settings}}"`

the validator incorrectly marks this as invalid saying

`The path 'BackgroundColor' does not resolve to a property in the binding context 'MainViewModel'`

MainViewModel is the correct binding context for the overall view but not this particular binding.

[2019-12-05 15:43] rajczi opened #164 "Binding validation not run with dotted notation bindings"
In a valid binding with the following format:

`TextColor="{Binding Settings.BackgroundColor}"`

MFractor does not validate the binding syntax.  Changing the binding to

`TextColor="{Binding WrongSettings.BackgroundColor}"`

or

`TextColor="{Binding Settings.WrongBackgroundColor}"`

will not yield an indication of an invalid binding syntax.

[2019-12-05 18:40] matthewrdev commented on #162
@MBrekhof At the moment, this is a limitation in the image importer.

For importing SVGs, what behaviour do you envision? Would it add it as a vector for iOS and convert it to a drawable in Android?

This is something that we should add support for, however, some guidance on how to solve the problem would be very useful. 😊

[2019-12-05 19:12] matthewrdev commented on #161
@ravero Could you please build out the documentation for the value converter wizard?

[2019-12-05 20:01] matthewrdev commented on #158
Well this is a hot mess. Looking into it.

[2019-12-05 21:01] matthewrdev commented on #159
@lachlanwgordon This is now fixed and live on our documentation site. The "Pencil" now links out to the correct documentation page and branch for editing.

Can I please confirm that it's fixed before closing this ticket?

[2019-12-05 21:14] matthewrdev commented on #154
@lachlanwgordon This has been added and will be available in 3.9.1.

[2019-12-05 21:28] matthewrdev commented on #153
@lachlanwgordon This has been fixed and will be released in MFractor 3.9.1.

[2019-12-05 21:31] matthewrdev commented on #158
@lachlanwgordon This has been fixed and will be released in MFractor 3.9.1.

[2019-12-05 21:31] matthewrdev commented on #157
@lachlanwgordon This has been fixed and will be released in MFractor 3.9.1.

[2019-12-05 22:14] matthewrdev commented on #156
@lachlanwgordon This has been fixed and will be available in MFractor 3.9.1

[2019-12-05 22:36] #158 closed

[2019-12-05 22:36] #157 closed

[2019-12-05 22:36] #156 closed

[2019-12-05 22:36] #155 closed

[2019-12-05 22:36] #154 closed

[2019-12-05 22:39] #153 closed

[2019-12-06 08:22] lachlanwgordon commented on #159
This works, it takes you to the relevant file on github

[2019-12-06 08:22] #159 closed

[2019-12-06 08:30] lachlanwgordon commented on #154
This feature inserts the snippet in the middle of the first existing StaticResource.

e.g. I try to make a new converter called DoubleToBool with `Create XAML Entry` and my current page selected.
![Screen Shot 2019-12-06 at 7 27 55 pm](https://user-images.githubusercontent.com/29908924/70308051-91c7bc00-185e-11ea-85b7-553f1df28a9a.png)

The Static Resource it generates is right in the middle of th

[2019-12-06 09:29] MBrekhof commented on #162
Hi,
Ok, I'll talk to my colleagues and will come back to you.

regards
Op 5 december 2019 19:40:08 +01:00, schreef Matthew Robbins <notifications@github.com>:

[2019-12-06 18:13] Omarkth opened #165 "Crash when Localize Document"
Visual Studio for Mac just hangs immediately after clicking on "Localize Document"

##Installation Information

[code]

[2019-12-06 18:45] matthewrdev opened #166 "Delete output folders fails in v3.9.1"
Easy to reproduce, try to delete output folders 😳

--Platform Information--
Operating System: Mac
OS: Unix
OS Service Pack:
OS Version: Unix 18.7.0.0
--MFractor Information--
Product Name: MFractor
Product Version: 3.9.1
Product Variant: Visual Studio Mac
Product Variant Version: 8.3.7.1
Product SKU: MFRACTOR-VS-MAC
Commit SHA: f6274730759bb9c31553729d38c1f6a5ef19a418
Revision: 3952
Branch: master

[2019-12-06 18:50] matthewrdev commented on #165
Thanks for reporting this @Omarkth. I'll look into it.

[2019-12-06 21:59] matthewrdev commented on #165
@Omarkth This has been fixed and will be available in MFractor 3.9.2 available later today.

[2019-12-06 21:59] #165 closed

[2019-12-06 21:59] matthewrdev commented on #166
This has been fixed and will be available in MFractor 3.9.2.

[2019-12-06 21:59] #166 closed

[2019-12-06 22:12] matthewrdev commented on #125
@akamud Unfortunately a lot of the extensibility points to reactivate this feature no longer exist or are unstable in the new versions of Visual Studio Mac. It's unlikely we could re-enable this now even if we wanted to.

I'm closing this issue.

[2019-12-06 22:12] #125 closed

[2019-12-06 22:14] matthewrdev commented on #164
@rajczi I've been looking into how MFractor handles binding validation and there is explicit excludes on `.` notation. Just a heads up, this will take a bit of work to fix therefore a fix before the end of this year is unlikely.

Just keeping you in the loop.

[2019-12-07 01:26] matthewrdev commented on #160
@lachlanwgordon I'm aware of this, however, just bear with us for a month or so while we get all of these docs built.

[2019-12-07 02:27] matthewrdev commented on #145
A call with Visual Studio Mac is scheduled for 11th of December to discuss this issue.

[2019-12-08 20:34] matthewrdev commented on #134
@WouterStraver

Following up on this, would you also like us to detect when you have a `TranslateExtension` defined and suggest localisation strings for you?

[2019-12-09 01:52] ravero commented on #161
Sure, I'm producing the docs. Will notify here when they're available.

[2019-12-09 10:59] MBrekhof commented on #162
"For importing SVGs, what behaviour do you envision? Would it add it as a vector for iOS and convert it to a drawable in Android?"

That would be fine.

Regards

⁣Verzonden door BlueMail ​

Op 5 dec. 2019 19:40, om 19:40, Matthew Robbins <notifications@github.com> schreef:

[2019-12-09 12:29] WouterStraver commented on #134
That would be even better!

[2019-12-09 12:31] WouterStraver commented on #134
Is it also possible to give a warning when missing one of the translations in one of the language files?

[2019-12-09 12:40] WouterStraver opened #167 "Feature request - Delete (or show) unused nuget packages."
Based on the feature request for unused images I was thinking it would be nice to have the same functionality for nuget packages. This would improve the maintainability of an app a lot.

Would like to know what you think about this.

[2019-12-10 05:25] matthewrdev commented on #134
Yes, we can do this as well.

[2019-12-10 05:31] matthewrdev commented on #134
Localisation Tooling Enhancements:
 - [ ] When over a localisation expression, show localisation values in a tooltip.
 - [ ] Go to definition support for localisation expressions.
 - [ ] When a translate extension is available, detect resx keys and suggest in intellisense.
 - [ ] Code analyser to inspect the `Translate` extension usage and detect when localisation values are missing for locales fo

[2019-12-10 05:33] matthewrdev commented on #167
@WouterStraver I really like this idea and it continues nicely with the theme set by the unused image assets feature request. I'm slowly formulating what an app-wide solution analyser would look like and this also fits in well with that theme.

Lastly, just to be clear, this is on the more complex end of the spectrum for feature requests. We are unlikely to implement this in the immediate future a

[2019-12-10 06:36] #152 closed

[2019-12-10 06:36] matthewrdev commented on #152
Done and will be available in MFractor v3.9.3

[2019-12-10 07:09] matthewrdev commented on #149
Closing as low impact.

[2019-12-10 07:09] #149 closed

[2019-12-10 07:14] matthewrdev commented on #160
Thanks for the feedback, however, closing as this is expected while we are rebuilding the docs site.

[2019-12-10 07:14] #160 closed

[2019-12-10 07:44] WouterStraver commented on #167
I understand this will not be top priority, but glad to hear you like the idea. It will be worth to wait for 6+ months ;-)

[2019-12-10 21:18] lachlanwgordon opened #168 "Delete Output Folders Preferences Behave strangely if you have a solution and a project with the same name"
When I try to adjust the delete output folders preferences for a solution the checkboxes toggle different boxes to where you tick. I think it's related to having two items with the same name, it doesn't seem to affect other items.

![delete](https://user-images.githubusercontent.com/29908924/70569748-a2758a80-1bee-11ea-9c8b-887fee7a2abf.gif)

[2019-12-10 22:38] matthewrdev commented on #168
Wow, that's not nice!

Thanks for reporting @lachlanwgordon, I'll look into it and aim to get a build out for you today.

[2019-12-10 23:55] matthewrdev opened #169 "When I press "Control+Space" to activate IntelliSense inside an empty attribute, no intellisense items are provided."
As per title.

[2019-12-11 00:17] matthewrdev commented on #169
This has been fixed and will be available in MFractor v3.9.3.

[2019-12-11 00:17] #169 closed

[2019-12-11 01:22] matthewrdev commented on #168
@lachlanwgordon This has been fixed and is available in MFracto v3.9.3

[2019-12-11 01:22] #168 closed

[2019-12-11 06:58] geniesoftstudios opened #170 "Weird issue with MFractor dialog not being dismissed"
There is a weird issue with the MFractor dialog still being displayed after it is dismissed, and when clicking on Check for Updates within VS 2019 8.3.10 (Build 2) for Mac.

I have attached a screen cast video in the attached zip file.
[MFractor-Dialog-Issue.zip](https://github.com/mfractor/mfractor-feedback/files/3948833/MFractor-Dialog-Issue.zip)

[2019-12-12 01:09] ravero commented on #161
Hi @lachlanwgordon, just a follow up to let you know that the MFractor Value Converter Wizard docs are available at: https://docs.mfractor.com/xamarin-forms/value-converters/value-converter-wizard/

If there are any doubts left about this feature please let us know, so we can enhance the documentation!

Regards.

[2019-12-12 01:09] #161 closed

[2019-12-12 08:24] HobDev opened #171 "The "Delete Output Folders" option is not deleting the bin and obj folders"
##Installation Information

[code]

[2019-12-12 10:16] matthewrdev commented on #171
@HobDev What is your delete output folders configuration for the project/solution that is failing?

Please go to **MFractor** -> **Preferences** -> **Delete Output Folders**.

[2019-12-12 14:27] HobDev commented on #171
bin and obj

[2019-12-12 14:49] HobDev commented on #171
When I check all four options in the delete output folders configurartion it deletes the output folders. But when I choose bin and obj only it deletes the bin folder but not the obj folder.

[2019-12-12 19:57] matthewrdev commented on #171
This is expected behaviour.

The obj folder contains various meta-data files that preserve the nuget package cache. A customer requested the ability to delete output folders but keep the local nuget settings so they can use the feature while in offline mode.

Please see https://docs.mfractor.com/utilities/delete-output-folders/#configuring-delete-output-folders

[2019-12-12 20:50] matthewrdev commented on #144
@danielbarrosamorim As I haven't heard back that this is still an issue or not, and I have confirmed it working with other customers who are using Catalina, I am closing this ticket.

If this issue still persists, please reopen this ticket.

[2019-12-12 20:50] #144 closed

[2019-12-13 02:31] matthewrdev commented on #170
@geniesoftstudios Can you please reproduce this issue and then send me the last 5 log files for that IDE session?

The IDE log files can be found under **Help** -> **Open Log Directory**.

[2019-12-13 03:03] matthewrdev opened #172 "The MVVM wizard generates invalided code when creating a new view model that uses INotifyPropertyChanged as its base class"
# Description

When I use the MVVM wizard to create a new view and view model pair and the view model uses `INotifyPropertyChanged` as its base class, it generates an invalid property changed event.

# Expected Result

[code]

# Actual Result

[code]

[2019-12-13 03:23] matthewrdev opened #173 "MFractor incorrectly reports a style target type mismatch"
# Description
When MFractor inspects the target type for a style, it incorrectly reports target type mismatches.

Say that I use a custom control "MultiLineButton" that derives from "Button" and apply a style that targets "Button", MFractor incorrectly states this is a target type mismatch.

The inspection is not correctly evaluating the target type when the control derives from the styles target

[2019-12-13 03:24] matthewrdev commented on #148
@mfranc28 Following up on this, can you please attach the image in question directly to this ticket (not via GitHubs reply-to-email feature) *or* please email it to me?

matthew@mfractor.com

[2019-12-13 03:28] geniesoftstudios commented on #170
@matthewrdev just sent you an email with the log files.

[2019-12-13 04:42] HobDev commented on #171
OK,I change the configuration to get the desired results.
Thank you

[2019-12-13 04:42] #171 closed

[2019-12-13 14:22] Omarkth opened #174 "A Warning When Binding Path Doesn't Exist in ViewModel But Source Is Specified"
As you can see from the screenshot below, MFractor gives me a warning that the binding path does not exist in the view model that is specified by the "x:DateType" property, even though my binding has a specific Source.

<img width="1030" alt="image" src="https://user-images.githubusercontent.com/822615/70806582-55e3a800-1dc4-11ea-9775-bd34d0e0bab5.png">

##Installation Information

[code]

[2019-12-13 19:28] matthewrdev commented on #174
@Omarkth Thanks for reporting this issue.

MFractor has not been upgraded to support `RelativeSource`, which is the cause of this issue

[2019-12-13 19:53] Omarkth commented on #174
That's right, I checked it with an {x:Reference } Source and the warning vanished 👍🏻

[2019-12-19 14:19] MBrekhof opened #175 "Localization seems to be incomplete"
When localizing a string the entry in the resx file seems to be missing a value:
[code]
is generated while
[code]
was expected

[2019-12-20 02:04] geniesoftstudios opened #176 "MFractor VS for Mac Licensing Dialog Issue"
There seems to be an issue with the MFractor Licensing dialog when choosing your licence file, and clicking on the Select File button. Licensing details are added to MFractor, and a dialog of Ok is displayed.

Upon clicking on OK button within the "Your MFractor license has been succesfully loaded Ok", the underlying Select File dialog doesn't dismiss when you click Cancel. The only way to fix thi

[2019-12-22 09:00] matthewrdev commented on #176
Related to #170

[2019-12-23 02:04] matthewrdev commented on #175
@MBrekhof This has been fixed and will be released in v3.9.4.

[2019-12-23 02:04] #175 closed

[2019-12-23 23:46] matthewrdev commented on #148
Closing this ticket as I do not have an image sample to reproduce this and I cannot reproduce this based on the steps described.

[2019-12-23 23:46] #148 closed

[2019-12-24 00:47] matthewrdev commented on #173
This has been fixed and will be available in MFractor 3.9.5.

[2019-12-24 00:47] #173 closed

[2019-12-24 00:55] matthewrdev commented on #163
@rajczi This has been fixed and will be released in MFractor 3.9.5.

[2019-12-24 00:55] #163 closed

[2019-12-24 00:56] matthewrdev commented on #163
![image](https://user-images.githubusercontent.com/3260473/71386795-5d1c7880-2644-11ea-9466-843ad176b00e.png)

[2019-12-24 01:22] matthewrdev commented on #172
This has been fixed and will be available in MFractor v3.9.5.

[2019-12-24 01:22] #172 closed

[2019-12-28 15:27] ravero opened #177 "Allow files to be included/excluded on the image deletion tool"
The image deletion tool presents a list of images it's about to delete. It would be interesting to add to this list a checkbox field that would allow selecting individual files to include or exclude from the delete operation. Sometimes you may want to delete some but not all the files that compose the image set of an asset.

[2020-01-03 05:40] ravero opened #178 "MVVM Wizard - Add Intellisense/Autocomplete to the base class fields"
The Settings page of the MVVM Wizard allows setting the base class for either the View and View Model parts of the MVVM Component. This is done through a regular Text Fields that allows typing the FQN of the Type to serve as the base for those parts.

It would be great to add some sort of Intellisense or Autocomplete to those fields, to facilitate finding the wanted type name.

[2020-01-03 05:43] ravero opened #179 "MVVM Wizard - Color Coding the XAML File Previewer"
When Previewing XAML files on the MVVM Wizard (other dialogs that offer previewing XAML also), the code is not coloured being plain black/white. This makes harder to read the file.

The Previewer would implement color coding for XAML just like for C# files.

[2020-01-06 21:59] ravero opened #180 "XAML Code Action Split Attributes should allow split to new line"
This code action is very useful, but it should allow for setting different styles of applying it. The default implementation splits the attributes on lines by keeping the first attribute in the first then aligning the other attributes in the lines below at the same column:

[code]

This is one of the employed standards and is very used in WPF, but another style that is very popular is just by spli

[2020-01-08 06:07] matthewrdev commented on #180
@ravero We can surface this as a setting in the formatting options panel.

[2020-01-09 14:42] MBrekhof opened #181 "Contradiction in intellisense"
See attached pictures, somehow mfractor decides that a defined staticresource doesn't exist anymore or it decides that a static resource was defined after it flags it as not defined.
I'm using merged dictionaries like:
`  <Application.Resources>
    <ResourceDictionary>
      <ResourceDictionary.MergedDictionaries>
        <ResourceDictionary Source="MCCresdict.xaml"/>
        <ResourceDictionary

[2020-01-10 01:19] matthewrdev commented on #176
@geniesoftstudios Can you please download v3.9.6 for Visual Studio Mac 8.4 and check if this issue still persists? We have change some of our dialog handling and it *may* correct this bug.

[2020-01-10 12:54] MBrekhof commented on #181
3.9.7 solved it

[2020-01-10 12:54] #181 closed

[2020-01-12 01:19] geniesoftstudios commented on #176
@matthewrdev I have downloaded and tested MFractor v3.9.7 for Visual Studio for Mac 8.4 and the issues experienced are no longer present. Everything is working as expected. :-)

[2020-01-12 01:36] #170 closed

[2020-01-12 01:37] #176 closed

[2020-01-13 23:36] #140 closed

[2020-01-13 23:36] matthewrdev commented on #140
Closing as this dialog was rebuilt in WPF and should address these issues.

[2020-01-14 08:46] matthewrdev commented on #162
**Investigation Notes**
This is possible by porting the android source code: https://android.googlesource.com/platform/tools/base/+/master/sdk-common/src/main/java/com/android/ide/common/vectordrawable

For iOS, we can use Skiasharp to render the SVG. At this point in time we would not support PDF assets.

[2020-01-14 09:31] matthewrdev commented on #162
Current SVG to Vector library can be found here: https://github.com/JetBrains/adt-tools-base/blob/master/sdk-common/src/main/java/com/android/ide/common/vectordrawable/Svg2Vector.java

[2020-01-14 14:38] ravero commented on #162
Maybe out of context, but just to have a record: when importing SVG files to projects we should allow user to choose if he want the actual SVG to be imported, or if he wants the SVG to be used as the base image, but have it converted to PNG's on each expected density.

[2020-01-14 17:31] ravero commented on #180
This is how the XAML Styler handles that, so I think it makes sense.
Also we can think of adding project specific settings to mfc file.

[2020-01-16 22:15] ravero opened #182 "Add the "Find Custom Renderers" Code Action to the Quick fix menu"
The Find Custom Renderers Code Action could appear in the Quick Fix menu also.

Should look into the `CSharpCodeActionProvider` and how it filters code actions.

[2020-01-16 22:18] ravero opened #183 "Add search results to the Find Custom Renderers Code Action"
Instead of opening the first custom renderer found for a component, MFractor should display a dialog with the Code Actions found for that component and allow user to select the one he wishes to open.

This also allows the user to know all the Renderers that exists for that component.

[2020-01-16 22:20] ravero commented on #183
Check `NavigateToFileSpansResponse` and `NavigateToFileSpansResponseHandler`.

[2020-01-18 15:18] ravero commented on #182
Done. Pushed to the branch `feature/custom-renderers-improv`.

[2020-01-18 15:18] #182 closed

[2020-01-19 23:39] matthewrdev commented on #183
**Technical notes**
Add an additional boolean property *AutoOpenSingleResults* (or similar) to the response that defaults to `true` (to preserve existing behaviour) and implement this in the `NavigateToFileSpansResponseHandler`.

[2020-01-22 13:22] sthewissen opened #184 "Small bug in color Intellisense warnings"
When using the color #ffffff > White MFractor incorrectly suggests replacing it with Transparent.

![image](https://user-images.githubusercontent.com/2419439/72897573-910dbb00-3d22-11ea-88eb-7feeeda07534.png)

Probably a matter of not checking for alpha if it's not there.

[2020-01-22 20:46] matthewrdev commented on #184
Thanks for reporting Steven, I’ll take a look and hopefully get a patch release out ASAP.

I can imagine this is a little distracting...

[2020-01-22 21:27] sthewissen commented on #184
It really isn’t that big, just a small booboo I happened to notice and thought you’d want to know 😅 Can imagine there are more pressing matters!

[2020-01-22 21:33] matthewrdev commented on #184
True... me vs bugs at the moment:

https://media3.giphy.com/media/e37RbTLYjfc1q/giphy.gif?cid=790b761106bca340e8bd58d69b5540c2ea6d0470366c13e9&rid=giphy.gif

[2020-01-22 21:41] matthewrdev commented on #145
Currently in discussions with the VS team on addressing this (the API we use to provide actions on Windows should work on Mac).

As a work-around, we now suggest available fixes in our code issues tooltips.

[2020-01-22 21:47] sthewissen commented on #184
Haha and here I come along with a punch to the nut sack after you’ve just fended off the world 😂 woops!

[2020-01-22 21:58] matthewrdev commented on #184
This will be fixed in next release (3.10.1).

In this case, the warning will now become:

![image](https://user-images.githubusercontent.com/3260473/72938120-17bfa800-3db6-11ea-8891-809422a77f74.png)

[2020-01-23 07:32] sthewissen commented on #184
Awesome! If you're coming to MVP Summit I'll bring you some stickers for your trouble ☺️

[2020-01-27 21:18] #183 closed

[2020-01-27 21:19] #184 closed

[2020-01-31 06:16] matthewrdev commented on #151
This has been completed and will be available in MFractor v3.10.3

![image](https://user-images.githubusercontent.com/3260473/73516717-0c6b1d00-4445-11ea-8cd7-33306802a1e3.png)

[2020-01-31 06:16] #151 closed

[2020-01-31 11:37] ravero commented on #151
Next step is to think about some of the most commonly used commands and think about some defaults, what you think @matthewrdev ? Maybe we can check our telemetry to figure it out.

[2020-01-31 16:51] ravero opened #185 "Grid Location Intellisense has unpredictable behaviour"
The Intellisense for the Grid that suggest `Grid.Row/Column` and `Grid.RowSpan/ColumnSpan` is presenting unpredictable behaviour. Sometimes it show only those suggestions, sometimes it shows only the native suggestions and doesn't show the grid ones.

The image below exemplifies the issue:
![2020-01-31 13 50 04](https://user-images.githubusercontent.com/1834963/73557823-af656c00-4430-11ea-9d91-854

[2020-01-31 16:51] ravero commented on #185
I suspect that the results are not being merged to the native IntelliSense results.

[2020-01-31 17:10] ravero opened #186 "Grid Location could suggest for grids without column/row definitions"
The current implementation of the Grid Location IntelliSense suggestions depends on having Grid/RowDefinitions declared for the current grid for it to appear as a suggestion. It would be good to have default suggestions for grids that doesn't declare this Row/Column definitions.

The rational is that the Grid implementation of Xamarin.Forms doesn't enforce having to declare the Grid/Row definition

[2020-02-03 00:33] ravero opened #187 "Enhancements for Grid Location Span Intellisense"
There are a few enhancements that can be done to the Grid Location Span Intellisense:

- Present the span suggestions even when row or column aren't declared. We can assume the default of 0 in those cases and provide span suggestions for that base index.
- Remove suggestions of span of "1".  Even though being a valid declaration, it's mostly useless and polite the IntelliSense output.

[2020-02-04 01:40] ravero commented on #187
Implemented on branch `feature/grid-span-improvements`.

[2020-02-04 01:40] #187 closed

[2020-02-04 01:42] ravero commented on #186
Waiting on the community feedback to implement. Maybe it should be added as an option since it relates to the style of programming.

[2020-02-06 03:14] matthewrdev opened #188 "Code Action: Encapsulate element with layout container"
## Description
Create a new **Refactor** code action that can encapsulate any VisualElement in XAML within a predefined list of layouts.

Layouts:
 * Grid
 * StackLayout
 * Frame
 * Frame
 * FlexLayout

## Technical Implementation

 *  Create a `PickerWorkUnit` and `PickerWorkUnitHandler`
 * Implement the picker response handler in the MFractor.Views project under Picker Input
 * Show a dialog for

[2020-02-09 16:57] ravero opened #189 "Add Image Tooltip support for C# code and ImageSource Properties"
The Image Tooltip tool could be applied to C# on hardcoded assignment of an ImageSource property. For instance, if we have the following XAML:

[code]

And the following code on the code-behind:

[code]

Considering that the ImageSource has automatic conversion of string values, we could have the Image Tooltip appearing when hovering over the image name.

The Intellisense to search for a file coul

[2020-02-09 17:00] ravero opened #190 "Add Image Tooling support for iOS projects"
The image tooling like the _Image Assets Intellinsense_ and the _Image Tooltip_ should be applied to Xamarin.iOS projects for it's SDK. The main class to look for is `UIImage` from UIKit and we should like when assign to properties of that type, or methods that receive arguments of this type.

[2020-02-10 05:41] matthewrdev commented on #189
This *should* be supported, however, it looks like there is now a bug in the project resolution when resolving the image assets.

This is fixed and will be fixed in MFractor 4.0

[2020-02-10 22:14] matthewrdev commented on #189
Fix published in v0.5 for Windows and v3.10.4 for Mac.

[2020-02-10 22:14] #189 closed

[2020-02-22 07:05] albertoha94 opened #191 "Unable to import image on mac."
##Installation Information
This happened after updating MFractor to version 4.0.0

Here are the last 5 logs requested.
[Logs.zip](https://github.com/mfractor/mfractor-feedback/files/4238935/Logs.zip)

In this new version, it appears greyed out.
![Screen Shot 2020-02-22 at 1 03 05](https://user-images.githubusercontent.com/14353851/75088168-50ff4b00-550f-11ea-8484-2fd3080f26ef.png)

[code]

[2020-02-25 04:35] matthewrdev commented on #191
@albertoha94 This has been fixed and is available in MFractor 4.0.1.

[2020-02-25 04:35] #191 closed

[2020-02-25 10:12] jameslavery opened #192 "Feature request - detect duplicate styles"
It would be great if we could be informed when two differently named Styles are in fact identical.

In a large project, it's easy for different team members to create Styles in isolation, and end up with duplications.

I don't think mfractor does this at the moment (have I missed it?)

[2020-02-25 11:22] matthewrdev commented on #192
Hi James, no, MFractor does not have this at the moment but it is a fantastic suggestion.

Quick question, are you using Visual Studio Mac or Windows?

[2020-02-25 12:25] jameslavery commented on #192
Hi Matthew,
Thanks for the feedback. I'm generally using Mac (but also Windows), but my colleague who was asking about it (and not yet an MFractor user) is using Windows.

Regards,

James
________________________________
From: Matthew Robbins <notifications@github.com>
Sent: 25 February 2020 11:22
To: mfractor/mfractor-feedback <mfractor-feedback@noreply.github.com>
Cc: James Lavery <james@jacksta

[2020-03-06 16:10] anotherlab opened #193 "Hint window in dark mode for VS Win has low contrast"
The colors used for the hint windows are hard to read when running VS windows in dark mode.

The message text color (#000000) is too dark against the hint window background (#666669).   That works out to a contrast ratio of 3.6:1.  You want to have a ratio of 4.5:1 or better for [WCAG AA compliance](https://www.w3.org/WAI/WCAG21/Understanding/contrast-minimum).  A text color of #F5F500 would give

[2020-03-07 00:15] matthewrdev commented on #193
Thanks @anotherlab for flagging this. MFractor is using XWT to share UIs and it doesn't look like it is honoring the dark theme settings. Will look into it.

[2020-03-09 01:44] matthewrdev commented on #193
@anotherlab MFractor will now honor the theme colors in tooltips. This is fixed and will be available in the next release 4.0.3.

[2020-03-09 01:44] #193 closed

[2020-03-10 01:44] matthewrdev commented on #185
@ravero After much testing, unfortunately this is a Visual Studio issue. The built-in XAML completion provider is sometimes failing to provide symbols and that is why it sometimes doesn't display/

[2020-03-10 01:44] #185 closed

[2020-03-16 03:33] matthewrdev commented on #104
@lachlanwgordon Closing this as our generate renderers code action accomplishes this: https://docs.mfractor.com/xamarin-forms/custom-renderers/generate-custom-renderers/

[2020-03-16 03:33] #104 closed

[2020-03-16 08:41] matthewrdev commented on #129
@lachlanwgordon I have had feedback from other customers that this feature is confusing and have decided to remove it.

Additionally, the MVVM wizard serves the purpose for generating new view models and pages.

I am closing this issue.

[2020-03-16 08:41] #129 closed

[2020-03-17 08:25] matthewrdev commented on #162
I have ported this library to C# and it is now available in MFractors codebase.

We will do an overhaul of the image importer in the coming month to add PDF and SVG support plus bulk import support.

SVG to Android Drawable will also be part the overhaul.

[2020-03-17 11:56] Qythyx opened #194 "MFractor doesn't correctly recognize type of binding source"
I've found a few situations where I want to bind a XAML field to a property in my code behind. Usually I would use a normal BindingContext, but in some cases I cannot. For example, if I have a custom control then I can't use the normal control-wide BindingContext because that will get set when I use that control within some other control/page that does have a BindingContext. I've found a good way

[2020-03-17 20:48] matthewrdev commented on #194
Thanks for reporting this @Qythyx.

This is fixed and will be available in the next minor release (today or tomorrow).

![image](https://user-images.githubusercontent.com/3260473/76900097-700db480-68e4-11ea-938f-8417befb9078.png)

[2020-03-17 20:49] #194 closed

[2020-03-18 10:29] Qythyx opened #195 "show color elaborations on black and white"
The new color elaborations are great, thank you. Can I ask that you show the color on both a black background and white background instead of the default control grey background?

Thanks.

##Installation Information

[code]

[2020-03-18 20:59] matthewrdev commented on #195
@Qythyx Done:

![image](https://user-images.githubusercontent.com/3260473/77007013-35bd1980-69af-11ea-9cb9-9adcf0324ddd.png)

I've also update adornments to change the text color based on the Ides theme (dark or light):

![image](https://user-images.githubusercontent.com/3260473/77006948-17571e00-69af-11ea-9fd6-7c3f145a833a.png)

[2020-03-18 21:00] matthewrdev commented on #195
This will be in the next release (4.0.5 should be out end of today).

[2020-03-18 21:00] #195 closed

[2020-03-18 23:04] matthewrdev commented on #178
@ravero I've been investigating this.

While the XWT APIs allow us to set completions, the backing implementing in [Xamarin.Mac](https://github.com/mono/xwt/blob/ec734b3fc81994753e23d8b06c6d1878fe8f7b75/Xwt.XamMac/Xwt.Mac/TextEntryBackend.cs) and [WPF](https://github.com/mono/xwt/blob/af2540cb0b6a1c1e82c4f7ec8949565f6677e631/Xwt.WPF/Xwt.WPFBackend/TextEntryBackend.cs) are not implementing.

Unfort

[2020-03-18 23:04] #178 closed

[2020-03-18 23:26] matthewrdev commented on #134
@WouterStraver The recommended practices for localisation in Xamarin.Forms has changed since this issue was filed: https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/localization/text?pivots=macos

The `TranslateExtension` and `ILocale` methodology are no longer recommended. Instead, using an `x:Static` expression to locate a resource is the new recommended approach.

As a res

[2020-03-19 00:47] matthewrdev commented on #179
This has been fixed and will be available in the next service release (4.0.5)

[2020-03-19 00:48] matthewrdev commented on #179
![image](https://user-images.githubusercontent.com/3260473/77020337-1df58d80-69cf-11ea-82dc-a0fbe5a1508b.png)

[2020-03-19 00:48] #179 closed

[2020-03-19 11:22] matthewrdev commented on #174
@Omarkth Is this still and issue? If not, I'll close this issue.

[2020-03-19 13:21] Adam-- opened #196 "No MFractor quick fix screwdriver when ReSharper extension enabled"
MFractor 4.0.5 (VS Windows)
ReSharper Ultimate 2019.2.2
Microsoft Visual Studio Professional 2019 16.4.1

With ReSharper enabled:
![image](https://user-images.githubusercontent.com/2179171/77071273-1f6c8900-69c2-11ea-9fd1-c3026b04b0a1.png)

With ReSharper disabled:
![image](https://user-images.githubusercontent.com/2179171/77071710-e385f380-69c2-11ea-91a1-322b78ba891f.png)

I was unable to find an

[2020-03-19 21:11] matthewrdev commented on #196
@Adam-- Thank you for reporting this issue.

![image](https://user-images.githubusercontent.com/3260473/77115416-00313280-6a7a-11ea-8fec-cae12c17d7c2.png)

To ensure ReSharper merges in our code actions, go to the top Extensions menu, then ReSharper -> Options. In the options window, go to Editor -> Visual Studio Features and then check Merge Visual Studio light bulb actions into ReSharper action

[2020-03-19 23:29] matthewrdev commented on #180
This has been added and will be available in MFractor v4.0.6.

![image](https://user-images.githubusercontent.com/3260473/77123941-3af09600-6a8d-11ea-8c96-05045e30eb91.png)

[2020-03-19 23:29] #180 closed

[2020-03-20 11:33] mharrisonbit opened #197 "Grid indexes clipped on 15" macbook"
The indexes are clipped on a 15" macbook pro. They are fine on a 13" macbook pro. I will attach a screenshot to see it
##Installation Information

[code]
<img width="761" alt="Screen Shot 2020-03-20 at 7 24 11 AM" src="https://user-images.githubusercontent.com/11961531/77160108-0f65af80-6a7d-11ea-9878-5384a759d7c4.png">

[2020-03-20 12:57] Adam-- commented on #196
Good call updating the documentation.

I'm not sure what version of ReSharper that screenshot is from, but on ReSharper Ultimate 2019.2.2 it is
**Code Inspection -> Settings -> Merge Visual Studio light bulb actions into ReSharper action indicator**
![image](https://user-images.githubusercontent.com/2179171/77164949-b5b6b280-6a87-11ea-8526-6cc5783cdc44.png)

Doing that then resyncing MFractor solu

[2020-03-22 20:52] matthewrdev commented on #196
Glad to hear this is resolved @Adam--. May I close this issue?

[2020-03-22 20:57] Adam-- commented on #196
Sure, but I'd personally use this to track adding to the docs, unless you are tracking it elsewhere, your call of course.

[2020-03-24 07:35] matthewrdev commented on #196
@Adam-- I have updated our docs to include this information. Please see https://docs.mfractor.com/resharper-compatibility/

Thanks for your help and patience, I'm now closing this issue.

[2020-03-24 07:35] #196 closed

[2020-03-28 15:57] dansiegel opened #198 "Support for Build Time Generated Images"
# Description

In an effort to reduce the complexity of handling in project image resources there are essentially 3 competing methods of dealing with this. One of course being the existing built in tooling from MFractor.

Both @redth and I have packages that can help you generate those images at build. Currently MFractor is not able to detect those images and shows an error for the missing image.

[2020-04-11 01:29] #145 closed

[2020-04-20 04:48] matthewrdev commented on #198
This is now available in MFractor v4.0.12. See https://docs.mfractor.com/release-notes/mac/v4/v4.0/#v4.0.12

[2020-04-20 04:48] #198 closed

[2020-05-03 01:52] ravero opened #199 "Show the Color Editor when clicking the Color Adornment"
The Color editor is a very useful feature on Visual Studio Mac. A more discoverable and easily way of opening it is showing it on click of the Color adornment feature.

[2020-05-12 10:03] kmvickers opened #200 "Inconsistent info from Mfractor"
for the same line of xaml Mfractor is showing me the color of a staticresource and also informing me the static resource doesn't exist

Kevin
##Installation Information

[code]

[2020-05-13 05:12] pranshu-aggarwal opened #201 "Get binding IntelliSense using x:DataType provided at the root level"
With the current implementation, we can see binding IntelliSense if x:DataType is set to the current element. But if it is set to root level then binding IntelliSense won't work.

I have created a simple demo to show the issue. In the demo, we have ListTemplate.xaml file. There are two labels on it. First is Name label and the second is Age label. If you see binding IntelliSense worked with Age la

[2020-05-13 05:15] #174 closed

[2020-05-13 09:33] matthewrdev commented on #200
Thanks for reporting this issue @kmvickers.

I've done some preliminary investigation work and it looks like this stems from a timing issue between our resource sync engine and our analysis engine. The color adornments live outside these two engines and is displaying the correct behavour.

Continuing to look into this.

[2020-05-13 16:36] anotherlab opened #202 "Request: Be able to suppress resource key conflicts on a file by file basis"
The way I support dark mode in Xamarin.Forms apps is to put all of the color definitions in styles.  I have a dark style file and a light style file and I new them up at runtime based on the current theme.  MFractor detects that as a resource key conflict as the color names will be in two files.  Since the styles are loaded at runtime, I don't expect MFractor to be able to know there isn't an actu

[2020-05-13 21:36] matthewrdev commented on #202
Hi Chris, thanks for the feedback.

I'll investigate getting this into the product. However, in the meantime, you can disable this analyser under Preferences by searching for MF1054:

![image](https://user-images.githubusercontent.com/3260473/81858035-73e94a80-95a6-11ea-86e2-9d61e127ceb8.png)

[2020-05-13 21:37] matthewrdev commented on #202
Oops, actually the diagnostic ID is MF1044 - Resource Key Conflict.

[2020-05-13 21:45] matthewrdev commented on #201
@pranshu-aggarwal I've located the cause of this issue, it was caused by a typo in the binding context resolution engine:

![image](https://user-images.githubusercontent.com/3260473/81869156-e3673600-95b6-11ea-8f9d-fbf4c3006209.png)

This is fixed and will be in the next release (4.1.1).

[2020-05-13 21:48] matthewrdev commented on #201
![image](https://user-images.githubusercontent.com/3260473/81869358-435ddc80-95b7-11ea-9f37-db1f04d93b0e.png)

[2020-05-14 03:48] pranshu-aggarwal commented on #201
Thanks @matthewrdev , I hope this is also working with Name label

[2020-05-15 09:59] lachlanwgordon opened #203 ""Generate New Value Converter for Type Flow" is missing"
There used to be a Xaml code action, to generate a value converter available fromt he right click menu if you clicked on a binding. I think it may have gone missing around the time the Quick Actions and Refactorings got combined into MFractor Code actions, so maybe version 4?

Now when I right click on a binding the only action is "Learn How MFractor detects your view models and binding contexts".

[2020-05-15 10:04] lachlanwgordon opened #204 "Using Value Converter Wizard to add converter to page created duplicate xmlns"
I've got a xaml view that has the converters namespace declared `xmlns:converters="clr-namespace:ValueConverterSample.Converters"`.

When I run the value converter Wizard to generate another value converter I end up with it decclared twice which causes an error.
![2020-05-15 20 00 07](https://user-images.githubusercontent.com/29908924/82038630-288a8580-96e7-11ea-81cb-b59c5491ba64.gif)
![Screen Sho

[2020-05-15 10:10] lachlanwgordon opened #205 "404 for code action Learn how MFractor detects your ViewModels and Binding"
When I right click on a binding, it offers the code action "Learn how MFractor detects your ViewModels and Binding" which open the docs to https://docs.mfractor.com/xamarin-forms/configure-binding-context/?utm_source=Visual+Studio+Mac which gives a 404.

I think this link also used to be in the MVVM wizard somewhere but I can't find it now.

[2020-05-15 10:14] lachlanwgordon opened #206 "Links don't work when mousing over an error"
In a Xaml file when you mouse over an error or warning it shows a list of available actions style as blue underline like a clickable link but clicking them does nothing.

It would be great if cilcking them worked, but I'm guessing this may not be possible in a tool tip so the styling should be removed to stop tempations.

This smells a little like a cross platforms issue where the links do work in

[2020-05-15 10:22] lachlanwgordon opened #207 "Binding Context Initialise in XAML sets x:Key instead of x:Name"
In the MVVM Wizard Project Settings, Set the Binding Context Initialisation to "Initialise BindingContext in XAML"
![Screen Shot 2020-05-15 at 8 18 00 pm](https://user-images.githubusercontent.com/29908924/82040221-9c2d9200-96e9-11ea-88ec-f0d78ebf84f3.png)

The Xaml it generates should have a `x:Name="ViewModel"` but instead sets `x:Key`

This results in a compile error as x:Key is only valid in a

[2020-05-15 21:01] matthewrdev commented on #207
This has been fixed and will be in the next release (4.1.1).

[2020-05-15 21:03] #207 closed

[2020-05-15 21:05] #201 closed

[2020-05-15 21:05] matthewrdev commented on #205
This has been fixed and will be available in MFractor v4.1.1.

[2020-05-15 21:05] #205 closed

[2020-05-15 21:30] matthewrdev commented on #206
I think I have resolved this in 4.1.1 by tweaking the first responder chain. Those inline fixes should work as they help tremendously when resolving issues.

I'll let you know when 4.1.1 is released Lachlan and get you to retest it. In the meantime I'm leaving this ticket open.

[2020-05-15 23:42] matthewrdev opened #208 "Create Class From Clipboard Enhancements"
By customer request, the following options should be added to the create class from clipboard feature:

 * A checkbox to enable or disable automatic namespace correction.
 * A text entry that allows users to manually specify the desired namespace.

[2020-05-16 00:27] matthewrdev commented on #202
@anotherlab This is now implemented and will be available in v4.1.1. This should be released in the next few days.

![analyser-suppression](https://user-images.githubusercontent.com/3260473/82105660-d33e8a80-975f-11ea-886e-67f9bcd7bdda.gif)

[2020-05-16 00:27] #202 closed

[2020-05-16 01:17] matthewrdev commented on #199
@ravero I did a quick investigation into this and it ended up being straightforward to implement on both Mac and Windows. I've now added this for both platforms.

[2020-05-16 01:17] #199 closed

[2020-05-16 02:08] matthewrdev commented on #197
This has been fixed and will be available in MFractor 4.1.1.

[2020-05-16 02:08] #197 closed

[2020-05-16 02:21] matthewrdev commented on #204
This has been fixed and will be available in MFractor 4.1.1.

[2020-05-16 02:21] #204 closed

[2020-05-16 02:48] matthewrdev commented on #206
@lachlanwgordon This is now released in MFractor 4.1.1. Can you retest it and let me know if it's still persisting?

[2020-05-16 04:45] matthewrdev commented on #145
This is now fixed and will be available in MFractor 4.1.2. 🥳

[2020-05-16 06:52] pranshu-aggarwal opened #209 "Go To ViewModel is not honouring x:DataType"
Go To ViewModel command is not working if x:DataType of page is set.

Please see the attachment for the issue with demo.

[MfractorDataTypeIssue.zip](https://github.com/mfractor/mfractor-feedback/files/4637953/MfractorDataTypeIssue.zip)

[2020-05-16 11:20] matthewrdev commented on #209
@pranshu-aggarwal This has been fixed and will be in the next release (4.1.2).

[2020-05-16 11:20] #209 closed

[2020-05-16 13:39] AlexHedley opened #210 "Welcome screen"
On the Welcome screen some of the text is cut off.

![image](https://user-images.githubusercontent.com/1573469/82121169-e4e55980-9782-11ea-90bc-af54bce169e9.png)

Windows
VS 16.5.5

[2020-05-16 14:50] ravero commented on #145
At least!! 👏🏻👏🏻👏🏻👏🏻👏🏻👏🏻👏🏻
Thanks!

[2020-05-16 23:14] lachlanwgordon commented on #206
Confirmed fixed in MFractor 4.1.2 with VSMac 8.5.6(11)

[2020-05-16 23:19] lachlanwgordon commented on #203
This is working again in 4.1.2, There are also a bunch of other refactoring that were missing in 4.1 now available. A lot of places that used to only have "Learn how ..." now have useful features.

[2020-05-16 23:22] lachlanwgordon commented on #205
This refactoring seems to have disappeared so can't test if link works.  A lot of the places it we it used to be, it has been replaced with more useful things, probably related to bug #203.

[2020-05-16 23:43] lachlanwgordon opened #211 "Replace duplicate namespace references does nothing"
There are two situations where this refactoring appears and it doesn't work for either. Not sure if the one refactoring should be able to handle both situations or if it should be split.

# 1. Duplicate namespace paths with the same xmlns.
I have the same xmlns in my page twice. This will result in a compile error in XAMLC enabled or a parsing error at runtime.

![Screen Shot 2020-05-17 at 9 35 14

[2020-05-17 01:22] lachlanwgordon commented on #206
Something is still not quite right.

Sometimes it will work with a single click, sometimes a triple-click is required, sometimes it will perform the action but the tooltip stays open and there's no idication that it did anything.

I think it works correctly 90% of the time. After restarting VS it will work correctly. If it fails then trying again will usually work.

Perhaps something todo with whe

[2020-05-17 02:24] lachlanwgordon opened #212 "Blazor support"
It would be cool to have support for Blazor in MFractor. VSMac 8.6(currently in preview, stable in about a week) has much better support for Blazor including templates for web assembly.

## Core concepts
Blazor is a new Single Page Application framework from Microsoft, it can run sever side or client side with WASM. The project structure will vary slightly between the two but all the code is the s

[2020-05-17 02:41] lachlanwgordon opened #213 "Blazor: Generate Code Behind"
In Razor syntax you can have all your code in one file or you can have it split into a .razor and a code behind .razor.cs, similar to Xamarin's .xaml and .xaml.cs.

For small pages it can be nice to have it all in one file but as it grows separating concerns becomes more important. The intellisense and design time errors work much better in a .cs file where it's only got one language to think abou

[2020-05-17 02:49] lachlanwgordon opened #214 "Blazor: Code Behind HotKey Navigation"
This feature is basically the same as in Xamarin Forms. Alt+Shift+2 should take you to a .razor.cs, Alt+Shift+3 should take you to a .razor and if a ViewModel can be found Alt+Shift+1 should take you there.

The MVVM pattern is not as widely accepted in the Blazor community as it is in Xamarin.Forms so you can't make all the same assumptions.

There is also no baked in concept of a BindingContext

[2020-05-17 03:22] lachlanwgordon opened #215 "Blazor: MVVM Wizard"
Just like the XAML one but it generates a .razor and a .razor.cs instead

It looks like you already decide which wizards are available from the menu based on the current active project.

e.g. a new page called users
Name: Users

The view would be file would be UsersPage.razor
[code]
The code behind would be UsersPage.razor.cs
[code]

The ViewModel will be exactly the same as in the Xamarin Forms v

[2020-05-17 04:21] lachlanwgordon commented on #213
It probably makes sense to present this when you right click on @code or if you right click on the file in the solution explorer.

[2020-05-17 23:21] matthewrdev commented on #206
@lachlanwgordon Now that MFractors code actions integrated into the "Show potential fixes" area, it might be worth considering flat-out removing this feature as it's not working.

What do you think?

[2020-05-17 23:42] matthewrdev commented on #214
@lachlanwgordon Can you link me to a sample project (EG: Microsofts docs etc) that I can use as a basis for this feature?

[2020-05-18 02:30] ravero commented on #214
This could also be easily adapted to support razor pages with models in plain ASP.NET Core projects.

[2020-05-18 05:17] #203 closed

[2020-05-18 05:39] matthewrdev commented on #211
@lachlanwgordon This was caused by an object equality comparison (rathrr than a value equality comparison) and has been fixed. This will be in the next release, v4.1.3

[2020-05-18 05:39] #211 closed

[2020-05-18 09:42] lachlanwgordon commented on #214
@matthewrdev here's a link to a basic repo I'm put together.

https://github.com/lachlanwgordon/BasicBlazor

It has sample of using WASM, Server Side and Hosted WASM. Each from dotnet new with minimal changes. Documentation for the first 2 are in the Get Started Docs https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.1&tabs=netcore-cli and this blog talks about hoste

[2020-05-19 23:06] ravero opened #216 "Visual Studio for Mac 8.6 Support"
Add support for Visual Studio for Mac 8.6.

[2020-05-19 23:11] ravero opened #217 "Visual Studio for Windows 16.6 Support"
Add support for Visual Studio for Windows version 16.6.

[2020-05-20 03:42] matthewrdev commented on #217
The current version will support this however a full testing cycle + official support is scheduled for MFractor 4.2.

[2020-05-20 03:43] matthewrdev commented on #216
The current version will support this however a full testing cycle + official support is scheduled for MFractor 4.2.

[2020-05-20 10:39] stntz opened #218 ".ctor not being renamed when using clipboard class tool"
I used the ‘Add Class Using Clipboard’ tool and I was able to rename the class as I was doing a duplicate copy.

Class renamed fine but I had to manually change the constructors.
Can we have a way to make sure this changes too.

[2020-05-20 19:00] anotherlab opened #219 "MFractor doesn't check for Android Vector Drawable files when validating images"
MFractor is reporting that an image doesn't exist in Android. I think this is happening because it's not checking for Android Vector Drawables, only for bitmaps.   I have a Xamarin.Forms app that has a logo used as an image.  For iOS, I use a .png (with Retina sizes) and on Android I use a vector drawable with the .xml extension.  The screenshot below shows the message from MFractor and I put an a

[2020-05-20 21:44] matthewrdev commented on #219
Good catch Chris!

[2020-05-20 22:08] matthewrdev commented on #219
@anotherlab This has been fixed and will be available in MFractor v4.2 (available next week).

[2020-05-20 22:08] #219 closed

[2020-05-20 23:00] matthewrdev commented on #218
@stntz This has been fixed and will be available in MFractor 4.2 (released next week).

Demo:
![clipboard-tooling-fixes](https://user-images.githubusercontent.com/3260473/82505600-779a4580-9b41-11ea-9c60-2e247edaade1.gif)

[2020-05-20 23:00] #218 closed

[2020-05-21 08:32] AlexHedley opened #220 "Delete Row/Column negative index"
When deleting the first row/column the the index is changed to a negative one
- `Grid.Row="-1"`
- `Grid.Column="-1"`

![delete-row-negative-index](https://user-images.githubusercontent.com/1573469/82539642-ac100080-9b45-11ea-9b6e-7bf882761a75.gif)

[2020-05-21 20:37] matthewrdev commented on #220
@AlexHedley This has been fixed and will be available in MFractor 4.2 (due early next week).

[2020-05-21 20:37] #220 closed

[2020-05-21 20:37] AlexHedley commented on #220
Will it just set them to 0?

[2020-05-21 20:41] matthewrdev commented on #220
Yes, it will leave items at index 0 rather than decrement them.

[2020-05-22 10:57] rickdijk opened #221 "VS Mac freezing/not responding"
Since the latest update I've been experiencing VS Mac freezing when working in xaml files.
Mostly happening when saving a xaml file or when looking up a static resource.
Our styles.xaml file is particularly big, which might be the cause of the problem, but I can't be completely sure.

I turned off the adornments earlier in the settings and that made the problem appear less often, but I'm still exp

[2020-05-24 02:54] lachlanwgordon opened #222 "Blazor Scaffolder"
I'm loving the new Scaffolder.  Even without the templates based on file name, this is useful enough just because you can create a folder and a file, or place a file in a folder, in one step.

How about we add some razor/blazor support?

This could follow a similar feature set to what you already offer for xaml. Interestingly for razor pages the compulsary/option files are bascially the opposite o

[2020-05-25 10:31] lachlanwgordon opened #223 "Enter Key Submit in Scaffolder"
Here's a quick win(I think)

When using the Scaffolder, I enter in a name. A lot of the time the first item in the list is what I want. If I then hit 'Enter' It should be the same as clicking 'Generate'. This will make the Scaffolder super fast to use.

Sometimes I want the second or third Item in the list. Hitting the down/up arrow is intuitive and lets you select the item you want. This already

[2020-05-25 10:34] lachlanwgordon opened #224 "Scaffolder Tab Sequence"
Scaffolder is awesome but I want to use it without the mouse. I've proposed a ver fast way to use it in #223 but if that doesn't work, here's an alternative.

At the moment tab Sequence goes Class Entry > Template Selector > Drop Down With File Name(this drop down does nothing? So shouldn't be tabbable?) > Code Preview(Not editable so shouldn't be tabbabel?) > Off into the either... Never gets to

[2020-05-25 10:42] lachlanwgordon opened #225 "Scaffolder Hot Key"
I want a hot key so i can access the Scaffolder without touching the mouse. If you can get this working in conjunction with #223 File/Folder creating will be 10x or maybe 50x faster than default VS experience.

I found in the VS Mac the keybinding entry for the Scaffolder but no matter what key combination I set for it I can't get it to open. I've made sure there are no conflicts.

A default hot k

[2020-05-26 02:47] matthewrdev commented on #208
This has been implemented and will be available in MFractor 4.2.

[2020-05-26 02:47] #208 closed

[2020-05-26 02:49] matthewrdev commented on #221
@rickdijk I've resolved several memory and event leaks in the core engine that *should* help address this issue. These fixes will be available in MFractor 4.2, released tomorrow or Thursday AEST.

[2020-05-26 02:49] #221 closed

[2020-05-26 02:56] matthewrdev commented on #225
@lachlanwgordon The scaffolder is setup to launch via the solution pad, however, MFractors integration may also expose that command via general commanding menu. Without the solution pad context, it won't be able to launch (an API restriction in MFractor). This will requires some changes to the engine, I'll have a think about how to expose this.

What key-binding have you setup for the Scaffolder?

[2020-05-26 02:56] matthewrdev commented on #217
This has been implemented and will be available in MFractor 4.2.

[2020-05-26 02:56] #217 closed

[2020-05-26 02:56] matthewrdev commented on #216
This has been implemented and will be available in MFractor 4.2.

[2020-05-26 02:56] #216 closed

[2020-05-26 04:37] lachlanwgordon commented on #225
I reckon Command+Alt+N is the best option

For the letter part I think S for Scaffold, N for New or A for Add make sense.

For the modifiers, you already use Command+Alt+1/2/3 for file navigation so it would kind of make sense to follow that pattern and put other MFractor actions in the Command+Alt group. I suppose that translates in the VSWindows world.

Command+Alt+A is Add FIles in VS Mac by de

[2020-05-26 07:57] lachlanwgordon commented on #206
I'm going to readjust the 90% estimate to 99% success rate. I think its useful enough and close enough to reliable to keep around.

[2020-05-26 07:58] lachlanwgordon commented on #206
Not sure whether I'm meant to close this or you are, but I'm happy for it to be closed.

[2020-05-26 08:16] lachlanwgordon opened #226 "I miss alt enter in xaml"
I'm guessing you're well aware of this and that it's out of your control since the new editors.

Life was much simpler when I could press alt+enter in any code and it would MFractor actions along side the built in refactorings. Is there any way to bring this back? Reaching for the mouse greatly reduces discoverability.

If you can't get them mixed in with Alt+Enter, how about something like Comman

[2020-05-26 10:09] rickdijk commented on #221
Thanks for the quick response!

[2020-05-26 23:28] matthewrdev commented on #226
@lachlanwgordon Can you try this in the MFractor 4.2 release? This *should* now be exposed but would like to confirm.

[2020-05-26 23:46] #206 closed

[2020-05-27 00:25] ravero opened #227 ""Split attributes into separate lines" Code Action not working on Windows"
On Windows version of MFractor calling this code action will do nothing.

[2020-05-27 00:26] ravero opened #228 "Delete Images not Working on Windows"
The Delete Images feature is not working on Windows. When you select a image on the _Image Asset Manager_ tool window and clicks on delete button nothing happens.

[2020-05-27 00:44] ravero opened #229 "When a XAML Control is Extracted on Windows the Code-behind is not nested"
When a new XAML Control is exported in Windows the code-behind file doesn't appear nested in the XAML file:

![Screen Shot 2020-05-26 at 21 42 13](https://user-images.githubusercontent.com/1834963/82963615-c577d900-9f99-11ea-8092-d3b70a869527.png)

In theory Visual Studio identity and nest items automatically, but this is happening on Visual Studio 16.6 and I suspect that a specific MSBuild entry

[2020-05-27 00:58] ravero opened #230 "Color Tooltips are behaving inconsistently for Setters"
The color Tooltip doesn't always appear on every spot where the color adornment appears. A few screenshots to exemplify:

![Screen Shot 2020-05-26 at 21 56 33](https://user-images.githubusercontent.com/1834963/82964416-ce69aa00-9f9b-11ea-930f-664ca28a76eb.png)
![Screen Shot 2020-05-26 at 21 56 42](https://user-images.githubusercontent.com/1834963/82964428-d295c780-9f9b-11ea-91ae-935aaa29a966.png)

[2020-05-27 01:00] ravero opened #231 "Color Tooltips are too large on Windows"
The color tooltip is appearing to large in Windows:

![Screen Shot 2020-05-26 at 21 58 27](https://user-images.githubusercontent.com/1834963/82964539-1a1c5380-9f9c-11ea-9dc4-e49617a3b773.png)

It looks like the tooltip view is taking all the width available on the screen to render itself. I'm not sure if you're using shared logic or if this tooltip is implemented in WPF. It's probably a matter of

[2020-05-28 10:18] lachlanwgordon commented on #226
Hooray, this works!

[2020-05-28 23:14] matthewrdev commented on #226
Can I close this ticket @lachlanwgordon?

[2020-05-28 23:15] matthewrdev commented on #230
This is because the symbol resolver is not functioning for Setters. Will need to update the XAML symbol resolvers behaviour to also return symbolication data for setter colors and then this should work correctly for tooltips.

[2020-05-28 23:17] matthewrdev commented on #225
@lachlanwgordon That keyboard combination makes a lot of sense (like you said, it continues with our conventions).

[2020-05-28 23:19] matthewrdev commented on #223
@lachlanwgordon This is great feedback and should be pretty easy to implement. Will aim to get this done over the weekend and released early next week.

PS: Please suggest as many scaffolds as you would like by the way as they are dead easy to make. Include the rules (naming conventions, file extensions, project context) and a sample of the code and I can get them made.

[2020-05-28 23:20] matthewrdev commented on #222
Ah, this would be so cool! I'll aim to get this done over the weekend (scaffolds are easy to build) and included in the next release.

Might also be worth building out ASP.NET scaffolds + Android & iOS scaffolds... What do you think? 🤔

[2020-05-28 23:22] lachlanwgordon commented on #226
Sure thing, I'm happy with it :)

[2020-05-28 23:27] #226 closed

[2020-05-29 01:08] matthewrdev commented on #225
This has been implemented using `Alt+Shift+N` and will require a document to be open in order for the scaffolder to launch.

It will take additional work to create a project selector, can you please open an additional issue for this?

[2020-05-29 01:08] matthewrdev commented on #225
This will be available in MFractor 4.2.1, available early this afternoon.

[2020-05-29 01:08] #225 closed

[2020-05-29 01:09] matthewrdev commented on #223
This will be available in MFractor 4.2.1, available early this afternoon.

[2020-05-29 01:09] #223 closed

[2020-05-29 04:27] matthewrdev commented on #224
@lachlanwgordon This should be addressed by #223 (available in 4.2.1). Can you test the new build and then close this ticket if you are happy with it? :)

[2020-05-29 05:26] matthewrdev opened #232 "Add support for the new grid row/column shorthand definitions"
See: https://github.com/xamarin/Xamarin.Forms/issues/7302#event-3384545517

To add:

 * ~~Parsing support for these attributes,~~
 * ~~Row/Column adornments.~~
 * ~~Analysis of these expressions.~~
 * Refactoring support to insert/delete before and after.
 * ~~IntelliSense support (Star, Auto within the expression).~~
 * ~~Refactoring -> Convert to attribute expression.~~
 * ~~Refactoring -> Conve

[2020-05-29 11:50] lachlanwgordon commented on #224
#223 Enter key works nicely so I'm happy

[2020-05-29 11:50] #224 closed

[2020-05-30 00:22] lachlanwgordon opened #233 "Colour Preview in .razor/cshtml/html/css files"
I've got an inline colour in my .razor page. It would be nice to be able to see what color they look like in the editor, like you already do in XAML.

[code]

This should work for Hex strings, named colours and rgba() functions.

There's a sample of all three in this page of my BasicBlazor repo
https://github.com/lachlanwgordon/BasicBlazor/blob/master/WASM/BlazorWASM/Pages/Index.razor

[2020-05-30 01:17] lachlanwgordon opened #234 "Extract Style"
This feature may take some planning but here's a start. If you have inline styles, you should be able to extract it to CSS.

By default the main css file in a blazor project is called either `app.css` or `site.css`, depending on which template you use, either way it will be in wwwroot/css. Users could also configure their css files in any number of ways, so by default I think you should look for w

[2020-06-01 01:04] matthewrdev commented on #222
This has been completed and will be available in the next MFractor release (4.2.2).

[2020-06-01 01:13] matthewrdev opened #235 "Integrate the Scaffolder into Visual Studio for Windows."
Add the following command bindings:

 * A right click option in the Solution Pad.
 * A top menu item.
 * A text editor context menu command.

On Mac, the scaffolders keyboard shortcut is `Alt+Shift+N`; we will need to investigate a similar pattern on Windows.

[2020-06-01 01:14] matthewrdev opened #236 "Integrate a Help Url into the Scaffolder."
After completion of https://github.com/mfractor/mfractor.github.io/issues/17, please integrate the HelpUrl into the scaffolder.

[2020-06-01 01:16] matthewrdev commented on #231
These color tooltips use Xwt to generate the UIs; this is likely the cause of this strange rendering behaviour.

To resolve, the color tooltip view should be ported from XWT to WPF.

[2020-06-01 01:45] ravero commented on #234
That would be a very powerful feature!

It's interesting to note that Xamarin.Forms had support for CSS styles for long, even though it's not being widely adopted (at least on my observations). It's a nice feature, maybe its lacking better tooling and we can inspire from Lach suggestion to enhance it.

[2020-06-01 01:47] matthewrdev commented on #234
Yes, it's a fantastic feature suggestion :)

Based on Lachlans spec, this would apply to web projects and would help significantly expand our potential customer base. 😄

[2020-06-01 01:49] matthewrdev commented on #233
@lachlanwgordon Fantastic idea! A few questions to clarify:

 * Where would we place the color adorntment? IE: Immediately before the `#FF00FF`/`red``rgba()` area?
 * Would you expect that MFractor include the **Click To Edit** color behaviour on these tags?

[2020-06-01 01:52] ravero commented on #233
In HTML an style tag may have several attributes set inline. I suppose it would be better to have it before the color declaration, seems more natural to me.

An color editor is surely helpful also.

[2020-06-01 01:57] ravero commented on #231
I'm reopening this Issue and assigning it to me as a task of porting this feature to WPF in Windows.

[2020-06-01 02:38] ravero commented on #222
We can base ourselves on the file templates available in the New File dialog.

[2020-06-01 02:50] matthewrdev commented on #231
Oops! I didn't mean to close this. 🤦‍♂️

[2020-06-02 22:30] matthewrdev commented on #214
## Progress Update
I've now built the relevant APIs to handle this behaviour (known internally as **relational navigation**) and have ported the existing XAML MVVM navigation to the relational navigation APIS.

I've defined the RazorRelationalNavigationHandler and am currently working on it's implementation. @lachlanwgordon I'll let you know when this is ready to go/

[2020-06-02 23:13] matthewrdev commented on #214
@lachlanwgordon This is now done:

![image](https://user-images.githubusercontent.com/3260473/83578545-6bb77600-a57a-11ea-9594-ca7413d9e7aa.png)

[2020-06-03 00:05] matthewrdev opened #237 "Create a CI/CD pipeline to expose build artifacts for customers."
As per title, implement a CI/CD pipeline that automatically builds MFractor upon a commit to master and deploys both a Mac and Windows build to a CDN or something similar.

This enables our users to locate and install the latest build themselves and also significantly cuts down the amount of work I need to do in order to cut a new build. Win win.

This will requires changes to our development flow

[2020-06-03 00:19] matthewrdev commented on #214
@lachlanwgordon This will be published in MFractor 4.2.2 for both Mac and Windows. Closing this ticket.

[2020-06-03 00:19] #214 closed

[2020-06-03 00:19] matthewrdev commented on #222
@lachlanwgordon This will be published in MFractor 4.2.2 for both Mac and Windows. Closing this ticket.

[2020-06-03 00:19] #222 closed

[2020-06-03 00:41] matthewrdev commented on #213
@lachlanwgordon Can a razor file have multiple `@code` sections defined?

[2020-06-03 18:30] roteague opened #238 "No Refactor Menu Item on XAML Page"
##Installation Information

[code]

[2020-06-03 23:15] matthewrdev commented on #238
Hi @roteague, thanks for logging this issue.

I'll need a little bit more clarification on this to help resolve this issue. What is the expected menu that is not present? On Window, MFractor does not surface a refactor/MFractor Code Actions menu as our code actions are available through the Quick Fix menu (Alt+Return or the Screwdriver menu).

If possible, could you attach a screenshot that demons

[2020-06-03 23:19] #236 closed

[2020-06-04 00:46] roteague commented on #238
Cursor is on Stack Layout using Alt+Enter gives this

Below the Stack Layout

Gives the Resharper Menu

As you can see, MFractor is loaded:

No screwdriver or light bulb quick actions. I only noticed this when I wanted to convert the StackLayout to a Grid.

Thanks,

Robert

----------------------------------------
From: Matthew Robbins <notifications@github.com>
Sent: 6/3/20 4:16 PM
To: mfractor/m

[2020-06-04 00:51] matthewrdev commented on #238
Hi Robert, I can't see any screenshots in you reply (if there were included that is). Could comment directly against the GitHub issues and attach them.

Also, you can follow this guide to ensure that MFractor works alongside ReSharper: https://docs.mfractor.com/resharper-compatibility/

[2020-06-04 01:06] roteague commented on #238
Hi,

I'm not sure why the attachments got stripped out of the email, so I've attached them as a zip file to this email. It looks like the Resharper was interfering with it. I made changes to the settings and got the menu to show up, with the StackLayout refactoring. So thanks for all your help.

Robert

----------------------------------------
From: Matthew Robbins <notifications@github.com>
Sent:

[2020-06-04 01:11] matthewrdev commented on #238
Fantastic to hear Robert.

Can I confirm this is now working as expected and that I can close this issue?

[2020-06-04 01:16] roteague commented on #238
Yes, please.

Thanks,

Robert

Sent from my T-Mobile 4G LTE Device

On Wed, Jun 3, 2020 at 6:12 PM -0700, "Matthew Robbins" <notifications@github.com> wrote:

Fantastic to hear Robert.

Can I confirm this is now working as expected and that I can close this issue?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.